
// @font-face {
//     font-family: 'Museo Sans Cyrl';
//     src: local('MuseoSansCyrl-300'),
//         url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'),
//         url('../fonts/MuseoSansCyrl-300.woff') format('woff');
//     font-weight: 300;
//     font-style: normal;
// }


// @font-face {
//     font-family: 'Museo Sans Cyrl';
//     src: local('MuseoSansCyrl-500'),
//         url('../fonts/MuseoSansCyrl-500.woff2') format('woff2'),
//         url('../fonts/MuseoSansCyrl-500.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Museo Sans Cyrl';
//     src: local('MuseoSansCyrl-700'),
//         url('../fonts/MuseoSansCyrl-700.woff2') format('woff2'),
//         url('../fonts/MuseoSansCyrl-700.woff') format('woff');
//     font-weight: bold;
//     font-style: normal;
// }

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Light.woff2') format('woff2'),
        url('../fonts/Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Bold.woff2') format('woff2'),
        url('../fonts/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Book.woff2') format('woff2'),
        url('../fonts/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}








@font-face {
    font-family: 'RoadRadio';
    src: local('RoadRadio-Light'),
        url('../fonts/RoadRadio-Light.woff2') format('woff2'),
        url('../fonts/RoadRadio-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'RoadRadio';
    src: local('RoadRadio-Bold'),
        url('../fonts/RoadRadio-Bold.woff2') format('woff2'),
        url('../fonts/RoadRadio-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'RoadRadio';
    src: local('RoadRadio-Thin'),
        url('../fonts/RoadRadio-Thin.woff2') format('woff2'),
        url('../fonts/RoadRadio-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'RoadRadio';
    src: local('RoadRadio'),
        url('../fonts/RoadRadio.woff2') format('woff2'),
        url('../fonts/RoadRadio.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

