.content p,.p,
.content li, .li{
	font-size: 1.7rem;
	line-height: 25/17*1;
}

.big{
	font-size: 2rem;
	line-height: 3rem;
}

.middle{
	font-size: 1.5rem;
	line-height: 1.8rem;
}

.content ul, .content ol{

}

.content b,.b{
	font-weight: bold;
}

.content strong, .strong{
	font-weight: 500;
}

.content a, .a{

}

.h1, .content h1,
.h2, .content h2,
.h3, .content h3,
.h4, .content h4,
.h5, .content h5,
.h6, .content h6,{
	font-family: 'RoadRadio';
	font-weight: 300;
	line-height: 1.2em;
}

.h1, .content h1{
	font-size: 9rem;
	font-weight: 300;
	line-height: 7rem;
}

.h2, .content h2{
	font-size: 7rem;
	line-height: 93%;

}

.h3, .content h3{

}

.h4, .content h4{
	font-size: 4rem;
	line-height: 93%;
}

.h5, .content h5{
	font-size: 3rem;
	line-height: 1;
}


.h6, .content h6{
	font-size: 2.5rem;
	line-height: 1em;
}	

.h6{
	&_big{
		font-size: 2.7rem;
	}
}


@include max-screen($small_desktop) {
	.h1, .content h1{
		font-size: 8rem;
		line-height: 6rem;
	}

	.h2, .content h2{
		font-size: 6rem;
		line-height: 5rem;
	}	

	.h4, .content h4{
		font-size: 3rem;
	}
}

@include max-screen($large_tablet) {
	.content p,.p,
	.content li, .li{
		font-size: 1.5rem;
	}	
}

@include max-screen($small_tablet) {
	.h1, .content h1{
		font-size: 6rem;
		line-height: 5rem;
	}

	.h2, .content h2{
		font-size: 6rem;
		line-height: 5rem;
	}	
}

@include max-screen($large_mobile) {
	.h1, .content h1,
	.h2, .content h2{
		font-size: 2.7rem;
		line-height: 1em;
	}	
	.h4, .content h4{
		font-size: 2.7rem;
	}
	.h5, .content h5{
		font-size: 1.8rem;
	}
	.h6, .content h6{
		font-size: 1.2rem;
	}	

	.h6{
		&_big{
			font-size: 2rem;
		}
	}

	.content p,.p,
	.content li, .li,
	.big{
		font-size: 1.2rem;
	}

}