@keyframes orbit {

    0%{
        // transform: skewX(0deg);
    }

    50%{
         // transform: skewX(-20deg);
    }

    to{
        stroke-dashoffset: -300;
        // transform: skewX(0deg);
    }
}

@keyframes orbitButton {
    from {
     transform: rotateZ(0deg);
    }
    to {
     transform: rotateZ(360deg);
    } 
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }    
}
@keyframes cursor_dash {
    0% {
        stroke-dasharray: 0,200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124;
    }    
}

// @keyframes orbit {
//     from {
// 	    transform: rotateZ(0deg);
//     }
//     to {
// 		transform: rotateZ(360deg);
//     } 
// }

@keyframes circleRotation {
    from {
	    transform: rotate(0deg);
    }
    to {
		transform: rotate(360deg);
    } 
}
@keyframes circleRotationItem {
    from {
        transform: rotate(0deg);
        // opacity: 0;
    }
    to {
        // opacity: 1;
        transform: rotate(-360deg);
    } 
}
@keyframes circleOpacityItem {
    from {
	    opacity: 0;
    }
    to {
    	opacity: 1;
    } 
}

@keyframes draw {
    to {
        stroke-dashoffset: -3500;
    }
}

