mixin button(type)
	if (type)
		+e.BUTTON.button.btn__&attributes(attributes)
			+e.SPAN.text
				if block
					block
	else
		+e.A.button.btn__&attributes(attributes)
			+e.SPAN.text
				if block
					block
