mixin logo
	+e.A.logo.logo__(href="#")
		+e.img.js-lottie(data-file="logoDefault")
		+e.IMG.img(src="/app/img/logo_full.svg")
		//- +e.IMG.image(src="/app/img/logo.svg")
		//- +e.SPAN.name
		//- 	| supernova
		//- 	+e.SPAN.about
		//- 		| недвижимость