extends ../layouts/base

append vars
	- title = 'О нас';

block content
	+b.header-line
		+e.wrap.wrap
			+e.line
	+b.breadcrumbs
		+e.wrap.wrap
			+e.UL.list
				+e.LI.item
					+e.A.link(href="#") Главная
				+e.LI.item
					| О нас
	+b.about-bg
	+b.SECTION.about-main
		+e.wrap.wrap._middle
			+e.slider.js-slider-about.owl-carousel
				+e.slide
					+e.row.flex
						+e.left
							+e.H1.title.h1
								span.string.is-center
									span.word 
										span Наша1
									br
									span.word.stroke 
										span история
							+e.desc.h2 1994 - 1999
						+e.right
							+e.content.content
								p
									| Ипотека в умелых руках - инструмент превращающий желания в реальность.
								p
									| Мы открыли ипотечный центр, чтобы каждый наш клиент купил квартиру мечты уже сейчас. Одобрение с 95% вероятностью, партнерские отношения с 10-ю крупнейшими банками, всесторонняя клиентская поддержка и другие приятные бонусы ждут вас в "Название".
								p
									| В 2017 "Название" вошла в топ 3 крупнейших застройщиков Санкт-Петербурга.
							+e.list.flex
								+e.item
									+e.number 20
									+e.item-desc.p Сотрудников
								+e.item
									+e.number 150
									+e.item-desc.p Сделок за год
								+e.item
									+e.number 200 млн ₽
									+e.item-desc.p Сума сделок
				+e.slide
					+e.row.flex
						+e.left
							+e.H1.title.h1
								span.string.is-center
									span.word 
										span Наша2
									br
									span.word.stroke 
										span история
							+e.desc.h2 1994 - 1999
						+e.right
							+e.content.content
								p
									| Ипотека в умелых руках - инструмент превращающий желания в реальность.
								p
									| Мы открыли ипотечный центр, чтобы каждый наш клиент купил квартиру мечты уже сейчас. Одобрение с 95% вероятностью, партнерские отношения с 10-ю крупнейшими банками, всесторонняя клиентская поддержка и другие приятные бонусы ждут вас в "Название".
								p
									| В 2017 "Название" вошла в топ 3 крупнейших застройщиков Санкт-Петербурга.
							+e.list.flex
								+e.item
									+e.number 20
									+e.item-desc.p Сотрудников
								+e.item
									+e.number 150
									+e.item-desc.p Сделок за год
								+e.item
									+e.number 200 млн ₽
									+e.item-desc.p Сума сделок
				+e.slide
					+e.row.flex
						+e.left
							+e.H1.title.h1
								span.string.is-center
									span.word 
										span Наша3
									br
									span.word.stroke 
										span история
							+e.desc.h2 1994 - 1999
						+e.right
							+e.content.content
								p
									| Ипотека в умелых руках - инструмент превращающий желания в реальность.
								p
									| Мы открыли ипотечный центр, чтобы каждый наш клиент купил квартиру мечты уже сейчас. Одобрение с 95% вероятностью, партнерские отношения с 10-ю крупнейшими банками, всесторонняя клиентская поддержка и другие приятные бонусы ждут вас в "Название".
								p
									| В 2017 "Название" вошла в топ 3 крупнейших застройщиков Санкт-Петербурга.
							+e.list.flex
								+e.item
									+e.number 20
									+e.item-desc.p Сотрудников
								+e.item
									+e.number 150
									+e.item-desc.p Сделок за год
								+e.item
									+e.number 200 млн ₽
									+e.item-desc.p Сума сделок
				+e.slide
					+e.row.flex
						+e.left
							+e.H1.title.h1
								span.string.is-center
									span.word 
										span Наша4
									br
									span.word.stroke 
										span история
							+e.desc.h2 1994 - 1999
						+e.right
							+e.content.content
								p
									| Ипотека в умелых руках - инструмент превращающий желания в реальность.
								p
									| Мы открыли ипотечный центр, чтобы каждый наш клиент купил квартиру мечты уже сейчас. Одобрение с 95% вероятностью, партнерские отношения с 10-ю крупнейшими банками, всесторонняя клиентская поддержка и другие приятные бонусы ждут вас в "Название".
								p
									| В 2017 "Название" вошла в топ 3 крупнейших застройщиков Санкт-Петербурга.
							+e.list.flex
								+e.item
									+e.number 20
									+e.item-desc.p Сотрудников
								+e.item
									+e.number 150
									+e.item-desc.p Сделок за год
								+e.item
									+e.number 200 млн ₽
									+e.item-desc.p Сума сделок
				+e.slide
					+e.row.flex
						+e.left
							+e.H1.title.h1
								span.string.is-center
									span.word 
										span Наша5
									br
									span.word.stroke 
										span история
							+e.desc.h2 1994 - 1999
						+e.right
							+e.content.content
								p
									| Ипотека в умелых руках - инструмент превращающий желания в реальность.
								p
									| Мы открыли ипотечный центр, чтобы каждый наш клиент купил квартиру мечты уже сейчас. Одобрение с 95% вероятностью, партнерские отношения с 10-ю крупнейшими банками, всесторонняя клиентская поддержка и другие приятные бонусы ждут вас в "Название".
								p
									| В 2017 "Название" вошла в топ 3 крупнейших застройщиков Санкт-Петербурга.
							+e.list.flex
								+e.item
									+e.number 20
									+e.item-desc.p Сотрудников
								+e.item
									+e.number 150
									+e.item-desc.p Сделок за год
								+e.item
									+e.number 200 млн ₽
									+e.item-desc.p Сума сделок
				+e.slide
					+e.row.flex
						+e.left
							+e.H1.title.h1
								span.string.is-center
									span.word 
										span Наша6
									br
									span.word.stroke 
										span история
							+e.desc.h2 1994 - 1999
						+e.right
							+e.content.content
								p
									| Ипотека в умелых руках - инструмент превращающий желания в реальность.
								p
									| Мы открыли ипотечный центр, чтобы каждый наш клиент купил квартиру мечты уже сейчас. Одобрение с 95% вероятностью, партнерские отношения с 10-ю крупнейшими банками, всесторонняя клиентская поддержка и другие приятные бонусы ждут вас в "Название".
								p
									| В 2017 "Название" вошла в топ 3 крупнейших застройщиков Санкт-Петербурга.
							+e.list.flex
								+e.item
									+e.number 20
									+e.item-desc.p Сотрудников
								+e.item
									+e.number 150
									+e.item-desc.p Сделок за год
								+e.item
									+e.number 200 млн ₽
									+e.item-desc.p Сума сделок
			+e.nav
				include ../layouts/owl-nav
			+e.bottom.flex._justify
				+e.year.js-slider-to.is-active 1994/1999
				+e.year.js-slider-to 2000/2005
				+e.year.js-slider-to 2005/2010
				+e.year.js-slider-to 2010/2013
				+e.year.js-slider-to 2014/2019
				+e.year.js-slider-to 2020
	+b.SECTION.gallery
		+e.wrap.wrap
			+e.head
				+e.H2.title.h2
					span.string.is-center
						span.word 
							span Как мы 
						span.word.stroke 
							span работаем
				include ../layouts/owl-nav
		+e.slider.slider__.js-slider.owl-carousel
			+slide('card__slide1.jpg')
				h4 Парковая зона
				p
					| ХХХХ м2 зеленых насаждений и газонов 4 
					br
					| маршрута на 3,5 км прогулочных тропинок
			+slide('card__slide1.jpg')
				h4 Парковая зона
				p
					| ХХХХ м2 зеленых насаждений и газонов 4 
					br
					| маршрута на 3,5 км прогулочных тропинок
			+slide('card__slide1.jpg')
				h4 Парковая зона
				p
					| ХХХХ м2 зеленых насаждений и газонов 4 
					br
					| маршрута на 3,5 км прогулочных тропинок
		+e.bottom
			+e.bottom-wrap.wrap._middle
				include ../layouts/owl-nav
	+b.SECTION.partner
		+e.wrap.wrap._middle
			+e.head
				+e.H2.title.h2
					span.string.is-center
						span.word 
							span Наши  
							br
						span.word.stroke 
							span партнеры
				include ../layouts/owl-nav
			+e.slider.js-slider-partner.owl-carousel
				+e.list.flex
					+e.item
						+e.A.logo(href="#")
							img(src="/img/partner1.png")
						+e.item-inner
					+e.item
						+e.A.logo(href="#")
							img(src="/img/partner2.png")
						+e.item-inner
					+e.item
						+e.A.logo(href="#")
							img(src="/img/partner3.png")
						+e.item-inner
					+e.item
						+e.A.logo(href="#")
							img(src="/img/partner4.png")
						+e.item-inner
					+e.item
						+e.A.logo(href="#")
							img(src="/img/partner5.png")
						+e.item-inner
					+e.item
						+e.A.logo(href="#")
							img(src="/img/partner6.png")
						+e.item-inner
					+e.item
						+e.A.logo(href="#")
							img(src="/img/partner7.png")
						+e.item-inner
					+e.item
						+e.A.logo(href="#")
							img(src="/img/partner8.png")
						+e.item-inner
				+e.list.flex
					+e.item
						+e.A.logo(href="#")
							img(src="/img/partner1.png")
						+e.item-inner
					+e.item
						+e.A.logo(href="#")
							img(src="/img/partner2.png")
						+e.item-inner
					+e.item
						+e.A.logo(href="#")
							img(src="/img/partner3.png")
						+e.item-inner
					+e.item
						+e.A.logo(href="#")
							img(src="/img/partner4.png")
						+e.item-inner
					+e.item
						+e.A.logo(href="#")
							img(src="/img/partner5.png")
						+e.item-inner
					+e.item
						+e.A.logo(href="#")
							img(src="/img/partner6.png")
						+e.item-inner
					+e.item
						+e.A.logo(href="#")
							img(src="/img/partner7.png")
						+e.item-inner
					+e.item
						+e.A.logo(href="#")
							img(src="/img/partner8.png")
						+e.item-inner
	include ../layouts/reward
block scripts
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
	script(src="https://code.jquery.com/jquery-3.3.1.min.js")
	script(src="/js/app.js?v=" + Date.now())