extends ../layouts/base

append vars
	- title = 'О нас';

block content
	+b.header-line
		+e.wrap.wrap
			+e.line
	+b.breadcrumbs
		+e.wrap.wrap
			+e.UL.list
				+e.LI.item
					+e.A.link(href="#") Главная
				+e.LI.item
					| О нас
	+b.about-bg
	+b.SECTION.about-main
		+e.wrap.wrap._middle
			+e.slider.js-slider-about.js-slider(
				data-settings=`{
					"smartSpeed": 500,
					"items": 1,
					"center": false,
					"nav": false,
					"dots": false,
					"navContainer": ".js-about-nav"
				}`)
				+e.slide
					+e.row.flex
						+e.left
							+e.H1.title.h1
								span.string.is-center
									span.word 
										span Наша1
									br
									span.word.stroke 
										span история
							+e.desc.h2 1994 - 1999
						+e.right
							+e.content.content
								p
									| Ипотека в умелых руках - инструмент превращающий желания в реальность.
								p
									| Мы открыли ипотечный центр, чтобы каждый наш клиент купил квартиру мечты уже сейчас. Одобрение с 95% вероятностью, партнерские отношения с 10-ю крупнейшими банками, всесторонняя клиентская поддержка и другие приятные бонусы ждут вас в "Название".
								p
									| В 2017 "Название" вошла в топ 3 крупнейших застройщиков Санкт-Петербурга.
							+e.list.flex
								+e.item
									+e.number 20
									+e.item-desc.p Сотрудников dsa dsda dds ad asd as ds
								+e.item
									+e.number 150
									+e.item-desc.p Сделок за год dsad as das d as
								+e.item
									+e.number 200 млн ₽
									+e.item-desc.p Сума сделок dsad asd sadas
				+e.slide
					+e.row.flex
						+e.left
							+e.H1.title.h1
								span.string.is-center
									span.word 
										span Наша2
									br
									span.word.stroke 
										span история
							+e.desc.h2 1994 - 1999
						+e.right
							+e.content.content
								p
									| Ипотека в умелых руках - инструмент превращающий желания в реальность.
								p
									| Мы открыли ипотечный центр, чтобы каждый наш клиент купил квартиру мечты уже сейчас. Одобрение с 95% вероятностью, партнерские отношения с 10-ю крупнейшими банками, всесторонняя клиентская поддержка и другие приятные бонусы ждут вас в "Название".
								p
									| В 2017 "Название" вошла в топ 3 крупнейших застройщиков Санкт-Петербурга.
							+e.list.flex
								+e.item
									+e.number 20
									+e.item-desc.p Сотрудников
								+e.item
									+e.number 150
									+e.item-desc.p Сделок за год
								+e.item
									+e.number 200 млн ₽
									+e.item-desc.p Сума сделок
				+e.slide
					+e.row.flex
						+e.left
							+e.H1.title.h1
								span.string.is-center
									span.word 
										span Наша3
									br
									span.word.stroke 
										span история
							+e.desc.h2 1994 - 1999
						+e.right
							+e.content.content
								p
									| Ипотека в умелых руках - инструмент превращающий желания в реальность.
								p
									| Мы открыли ипотечный центр, чтобы каждый наш клиент купил квартиру мечты уже сейчас. Одобрение с 95% вероятностью, партнерские отношения с 10-ю крупнейшими банками, всесторонняя клиентская поддержка и другие приятные бонусы ждут вас в "Название".
								p
									| В 2017 "Название" вошла в топ 3 крупнейших застройщиков Санкт-Петербурга.
							+e.list.flex
								+e.item
									+e.number 20
									+e.item-desc.p Сотрудников
								+e.item
									+e.number 150
									+e.item-desc.p Сделок за год
								+e.item
									+e.number 200 млн ₽
									+e.item-desc.p Сума сделок
				+e.slide
					+e.row.flex
						+e.left
							+e.H1.title.h1
								span.string.is-center
									span.word 
										span Наша4
									br
									span.word.stroke 
										span история
							+e.desc.h2 1994 - 1999
						+e.right
							+e.content.content
								p
									| Ипотека в умелых руках - инструмент превращающий желания в реальность.
								p
									| Мы открыли ипотечный центр, чтобы каждый наш клиент купил квартиру мечты уже сейчас. Одобрение с 95% вероятностью, партнерские отношения с 10-ю крупнейшими банками, всесторонняя клиентская поддержка и другие приятные бонусы ждут вас в "Название".
								p
									| В 2017 "Название" вошла в топ 3 крупнейших застройщиков Санкт-Петербурга.
							+e.list.flex
								+e.item
									+e.number 20
									+e.item-desc.p Сотрудников
								+e.item
									+e.number 150
									+e.item-desc.p Сделок за год
								+e.item
									+e.number 200 млн ₽
									+e.item-desc.p Сума сделок
				+e.slide
					+e.row.flex
						+e.left
							+e.H1.title.h1
								span.string.is-center
									span.word 
										span Наша5
									br
									span.word.stroke 
										span история
							+e.desc.h2 1994 - 1999
						+e.right
							+e.content.content
								p
									| Ипотека в умелых руках - инструмент превращающий желания в реальность.
								p
									| Мы открыли ипотечный центр, чтобы каждый наш клиент купил квартиру мечты уже сейчас. Одобрение с 95% вероятностью, партнерские отношения с 10-ю крупнейшими банками, всесторонняя клиентская поддержка и другие приятные бонусы ждут вас в "Название".
								p
									| В 2017 "Название" вошла в топ 3 крупнейших застройщиков Санкт-Петербурга.
							+e.list.flex
								+e.item
									+e.number 20
									+e.item-desc.p Сотрудников
								+e.item
									+e.number 150
									+e.item-desc.p Сделок за год
								+e.item
									+e.number 200 млн ₽
									+e.item-desc.p Сума сделок
				+e.slide
					+e.row.flex
						+e.left
							+e.H1.title.h1
								span.string.is-center
									span.word 
										span Наша6
									br
									span.word.stroke 
										span история
							+e.desc.h2 1994 - 1999
						+e.right
							+e.content.content
								p
									| Ипотека в умелых руках - инструмент превращающий желания в реальность.
								p
									| Мы открыли ипотечный центр, чтобы каждый наш клиент купил квартиру мечты уже сейчас. Одобрение с 95% вероятностью, партнерские отношения с 10-ю крупнейшими банками, всесторонняя клиентская поддержка и другие приятные бонусы ждут вас в "Название".
								p
									| В 2017 "Название" вошла в топ 3 крупнейших застройщиков Санкт-Петербурга.
							+e.list.flex
								+e.item
									+e.number 20
									+e.item-desc.p Сотрудников
								+e.item
									+e.number 150
									+e.item-desc.p Сделок за год
								+e.item
									+e.number 200 млн ₽
									+e.item-desc.p Сума сделок
			+e.nav.js-about-nav.owl-nav
			+e.bottom.flex._justify
				+e.year.js-slider-to.is-active 1994/1999
				+e.year.js-slider-to 2000/2005
				+e.year.js-slider-to 2005/2010
				+e.year.js-slider-to 2010/2013
				+e.year.js-slider-to 2014/2019
				+e.year.js-slider-to 2020
	+b.SECTION.gallery
		+e.wrap.wrap
			+e.head
				+e.H2.title.h2
					span.string.is-center
						span.word
							span Как мы
						span.word.stroke
							span работаем
				+e.nav.js-slider-nav.owl-nav
		+e.slider.slider__.js-slider(
				data-settings=`{
					"smartSpeed": 700,
					"autoWidth": true,
					"center": true,
					"nav": false,
					"dots": false,
					"navContainer": ".js-slider-nav",
					"responsive": {
						"0": {
							"margin": 0,
							"autoWidth": true
						},
						"1025": {
							"margin": 30,
							"autoWidth": true
						}
					}
				}`)
			+slide('card__slide1.jpg')
				h4 Парковая зона
				p
					| ХХХХ м2 зеленых насаждений и газонов 4
					br
					| маршрута на 3,5 км прогулочных тропинок
			+slide('card__slide1.jpg')
				h4 Парковая зона
				p
					| ХХХХ м2 зеленых насаждений и газонов 4
					br
					| маршрута на 3,5 км прогулочных тропинок
			+slide('card__slide1.jpg')
				h4 Парковая зона
				p
					| ХХХХ м2 зеленых насаждений и газонов 4
					br
					| маршрута на 3,5 км прогулочных тропинок
		+e.bottom
			+e.bottom-wrap.wrap._middle
				+e.nav.js-slider-nav.owl-nav
	+b.SECTION.partner
		+e.wrap.wrap._middle
			+e.head
				+e.H2.title.h2
					span.string.is-center
						span.word
							span Наши
							br
						span.word.stroke
							span партнеры
				+e.nav.js-partner-nav.owl-nav
			+e.slider.js-slider(
					data-settings=`{
						"smartSpeed": 500,
						"items": 1,
						"center": false,
						"nav": false,
						"margin": 0,
						"dots": false,
						"navContainer": ".js-partner-nav",
						"responsive": {
							"0": {
								"autoWidth": true,
								"center": false,
								"items": 1,
								"smartSpeed": 300
							},
							"580": {
								"autoWidth": false,
								"center": false,
								"items": 1,
								"smartSpeed": 500
							}
						}
					}`)
				+e.list.flex
					+e.item
						+e.A.logo(href="#")
							img(src="/img/partner1.png")
						+e.item-inner
					+e.item
						+e.A.logo(href="#")
							img(src="/img/partner2.png")
						+e.item-inner
					+e.item
						+e.A.logo(href="#")
							img(src="/img/partner3.png")
						+e.item-inner
					+e.item
						+e.A.logo(href="#")
							img(src="/img/partner4.png")
						+e.item-inner
					+e.item
						+e.A.logo(href="#")
							img(src="/img/partner5.png")
						+e.item-inner
					+e.item
						+e.A.logo(href="#")
							img(src="/img/partner6.png")
						+e.item-inner
					+e.item
						+e.A.logo(href="#")
							img(src="/img/partner7.png")
						+e.item-inner
					+e.item
						+e.A.logo(href="#")
							img(src="/img/partner8.png")
						+e.item-inner
				+e.list.flex
					+e.item
						+e.A.logo(href="#")
							img(src="/img/partner1.png")
						+e.item-inner
					+e.item
						+e.A.logo(href="#")
							img(src="/img/partner2.png")
						+e.item-inner
					+e.item
						+e.A.logo(href="#")
							img(src="/img/partner3.png")
						+e.item-inner
					+e.item
						+e.A.logo(href="#")
							img(src="/img/partner4.png")
						+e.item-inner
					+e.item
						+e.A.logo(href="#")
							img(src="/img/partner5.png")
						+e.item-inner
					+e.item
						+e.A.logo(href="#")
							img(src="/img/partner6.png")
						+e.item-inner
					+e.item
						+e.A.logo(href="#")
							img(src="/img/partner7.png")
						+e.item-inner
					+e.item
						+e.A.logo(href="#")
							img(src="/img/partner8.png")
						+e.item-inner
	include ../layouts/reward
	+b.SECTION.gallery
		+e.wrap.wrap
			+e.head
				+e.H2.title.h2
					span.string.is-center
						span.word 
							span Как мы 
						span.word.stroke 
							span отдыхаем
				+e.nav.js-slider2-nav.owl-nav
		+e.slider.slider__.js-slider(
				data-settings=`{
					"smartSpeed": 700,
					"autoWidth": true,
					"center": true,
					"nav": false,
					"dots": false,
					"navContainer": ".js-slider2-nav",
					"responsive": {
						"0": {
							"margin": 0,
							"autoWidth": true
						},
						"1025": {
							"margin": 30,
							"autoWidth": true
						}
					}
				}`)
			+slide('card__slide1.jpg')
				h4 Парковая зона
				p
					| ХХХХ м2 зеленых насаждений и газонов 4 
					br
					| маршрута на 3,5 км прогулочных тропинок
			+slide('card__slide1.jpg')
				h4 Парковая зона
				p
					| ХХХХ м2 зеленых насаждений и газонов 4 
					br
					| маршрута на 3,5 км прогулочных тропинок
			+slide('card__slide1.jpg')
				h4 Парковая зона
				p
					| ХХХХ м2 зеленых насаждений и газонов 4 
					br
					| маршрута на 3,5 км прогулочных тропинок
		+e.bottom
			+e.bottom-wrap.wrap._middle
				+e.nav.js-slider2-nav.owl-nav
	
	include ../layouts/squad

	include ../layouts/contacts
	
block scripts
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
	script(src="https://code.jquery.com/jquery-3.3.1.min.js")
	script(src="/js/app.js?v=" + Date.now())