extends ../layouts/base

append vars
	- title = 'Карточка';

block content
	+b.sub-menu
		+e.wrap.wrap
			+e.list.flex._center
				+e.A.item(href='#') О комплексе
				+e.A.item(href='#') Презентация
				+e.A.item(href='#') На карте
				+e.A.item(href='#') Планировки и цены
				+e.A.item(href='#') Как купить
				+e.A.item(href='#') Коммерция
	+b.card-bg
	+b.card-main
		+e.wrap.wrap._middle
			+e.H1.title.h2
				span.string.is-center
					span.word 
						span Жилой комплекс 
					br
					span.word.stroke 
						span какой то
			+e.desc.p
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
			+e.bottom.flex._vertical._justify
				+button Подберите квартиру
				+play('https://www.youtube.com/embed/tWkodax0vKE')
					| Посмотрите 
					br
					| видео о "ЖК"
	+b.SECTION.gallery
		+e.slider.slider__.js-slider.owl-carousel
			+slide('card__slide1.jpg')
				h4 Парковая зона
				p
					| ХХХХ м2 зеленых насаждений и газонов 4 
					br
					| маршрута на 3,5 км прогулочных тропинок
			+slide('card__slide1.jpg')
				h4 Парковая зона
				p
					| ХХХХ м2 зеленых насаждений и газонов 4 
					br
					| маршрута на 3,5 км прогулочных тропинок
			+slide('card__slide1.jpg')
				h4 Парковая зона
				p
					| ХХХХ м2 зеленых насаждений и газонов 4 
					br
					| маршрута на 3,5 км прогулочных тропинок
		+e.hide-nav
			include ../layouts/owl-nav
		+e.wrap.wrap._middle
			+e.line
	+b.SECTION.concept
		+e.wrap.wrap._middle
			+e.row.flex._justify
				+e.content
					+e.H1.title.h2
						span.string.is-center
							span.word 
								span Описание
							br
							span.word.stroke 
								span концепта ЖК
					+e.desc.p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
				+e.accordion.accordion__
					+e.list
						+accordion-item('Удобное расположение')
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus.
						+accordion-item('Паркинг для вас и гостей')
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus.
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus.
						+accordion-item('Инфраструктура для комфорта')
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus.
						+accordion-item('5 школ и 9 садиков в радиусе 5 км')
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus.
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus.
						+accordion-item('Безопасность и приватность')
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus.
						+accordion-item('Современные инженерные системы')
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus.
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus.
						+accordion-item('Благоустройство и зоны отдыха')
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus.
						+accordion-item('Авторская планировка')
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus.
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus.