extends ../layouts/base

append vars
	- title = 'Карточка';

block content
	+b.sub-menu
		+e.wrap.wrap
			+e.list.flex._center
				+e.A.item(href='#') О комплексе
				+e.A.item(href='#') Презентация
				+e.A.item(href='#') На карте
				+e.A.item(href='#') Планировки и цены
				+e.A.item(href='#') Как купить
				+e.A.item(href='#') Коммерция
	+b.card-bg
	+b.card-main
		+e.wrap.wrap._middle
			+e.H1.title.h2
				span.string.is-center
					span.word 
						span Жилой комплекс 
					br
					span.word.stroke 
						span какой то
			+e.desc.p
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
			+e.bottom.flex._vertical._justify
				+button Подберите квартиру
				+play('https://www.youtube.com/embed/tWkodax0vKE')
					| Посмотрите 
					br
					| видео о "ЖК"
	+b.SECTION.gallery
		+e.slider.slider__.js-slider.owl-carousel
			+slide('card__slide1.jpg')
				h4 Парковая зона
				p
					| ХХХХ м2 зеленых насаждений и газонов 4 
					br
					| маршрута на 3,5 км прогулочных тропинок
			+slide('card__slide1.jpg')
				h4 Парковая зона
				p
					| ХХХХ м2 зеленых насаждений и газонов 4 
					br
					| маршрута на 3,5 км прогулочных тропинок
			+slide('card__slide1.jpg')
				h4 Парковая зона
				p
					| ХХХХ м2 зеленых насаждений и газонов 4 
					br
					| маршрута на 3,5 км прогулочных тропинок
		+e.bottom
			+e.bottom-wrap.wrap._middle
				include ../layouts/owl-nav
		+e.wrap.wrap._middle
			+e.line
	+b.SECTION.concept
		+e.wrap.wrap._middle
			+e.row.flex._justify
				+e.content
					+e.H2.title.h2
						span.string.is-center
							span.word 
								span Описание
							br
							span.word.stroke 
								span концепта ЖК
					+e.desc.p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
				+e.accordion.accordion__
					+e.list
						+accordion-item('Удобное расположение')
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus.
						+accordion-item('Паркинг для вас и гостей')
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus.
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus.
						+accordion-item('Инфраструктура для комфорта')
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus.
						+accordion-item('5 школ и 9 садиков в радиусе 5 км')
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus.
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus.
						+accordion-item('Безопасность и приватность')
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus.
						+accordion-item('Современные инженерные системы')
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus.
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus.
						+accordion-item('Благоустройство и зоны отдыха')
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus.
						+accordion-item('Авторская планировка')
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus.
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus.
	+b.SECTION.presentation._first
		+e.wrap.wrap._middle
			+e.row.flex._justify._vertical
				+e.left
					+e.IMG.img._first(src="/img/presentation__img1.png")
				+e.right
					+e.H2.title.h2
						span.string.is-center
							span.word 
								span Презентация ЖК 
							br
							span.word.stroke 
								span "НАЗВАНИЕ"
					+e.desc.p20
						| Планировки, цены, инфраструктура, 
						br
						| все в одной pdf презентации.
					+button(href="#") Скачать
					
	include ../layouts/geography
	
	+b.SECTION.apartments
		+e.wrap.wrap
			+e.H2.title.h2.css-text-center
				span.string.is-center
					span.word 
						span Квартиры в ЖК 
					span.word.stroke 
						span "название"
			+e.filter.flex
				+e.filter-column
					+radio('1 Комнатные')(name="quantity" checked)
				+e.filter-column
					+radio('2 Комнатные')(name="quantity")
				+e.filter-column
					+radio('3+ Комнатные')(name="quantity")
				+e.filter-column
					+button(href="#" class="_transparent") Подобрать квартиру
		+e.list.flex
			+apartments-item('card__img.jpg', '1', '43,9')
			+apartments-item('card__img.jpg', '1', '41,9', 'С отделкой')
			+apartments-item('card__img.jpg', '1', '43,9')
			+apartments-item('card__img.jpg', '1', '41,9', 'С отделкой')
			+apartments-item('card__img.jpg', '1', '43,9')
			+apartments-item('card__img.jpg', '1', '41,9', 'С отделкой')
			+apartments-item('card__img.jpg', '1', '43,9')
			+apartments-item('card__img.jpg', '1', '41,9', 'С отделкой')
			+apartments-item('card__img.jpg', '1', '43,9')
			+apartments-item('card__img.jpg', '1', '41,9', 'С отделкой')
			+apartments-item('card__img.jpg', '1', '43,9')
			+apartments-item('card__img.jpg', '1', '41,9', 'С отделкой')
		+e.wrap.wrap
			include ../layouts/owl-nav
	
	+b.SECTION.recall
		+e.wrap.wrap._middle
			+e.H2.title.h2.css-text-center
				span.string.is-center
					span.word 
						span Получите
					br
					span.word.stroke 
						span моментальный доступ 
					br
					span.word 
						span к планировкам и ценам
			+e.desc.p20.css-text-center
				| С возможностью онлайн бронирования квартиры
			+e.FORM.form(action='/app/mail')
				+e.row.flex._bottom._justify
					+field('Имя')(name="name")
					+field('Телефон', 'Введите телефон!')(name="phone")
					+e.BUTTON.button.btn__(type="submit") Получить доступ
					
	+b.SECTION.gallery
		+e.slider.slider__.js-slider.owl-carousel
			+slide('card__slide1.jpg')
				h4 Большие кухни‐гостиные
				p
					| Идеальное пространство для совместного проведения времени.
					br
					| Здесь можно устраивать и вечерние семейные посиделки, и шумные вечеринки с друзьями
			+slide('card__slide1.jpg')
				h4 Большие кухни‐гостиные
				p
					| Идеальное пространство для совместного проведения времени.
					br
					| Здесь можно устраивать и вечерние семейные посиделки, и шумные вечеринки с друзьями
			+slide('card__slide1.jpg')
				h4 Большие кухни‐гостиные
				p
					| Идеальное пространство для совместного проведения времени.
					br
					| Здесь можно устраивать и вечерние семейные посиделки, и шумные вечеринки с друзьями
		+e.bottom
			+e.bottom-wrap.wrap._middle
				include ../layouts/owl-nav
		+e.wrap.wrap._middle
			+e.line
	
	include ../layouts/discount
	
	include ../layouts/calc
	
	+b.SECTION.presentation._second
		+e.wrap.wrap
			+e.row.flex._justify._vertical
				+e.left._second
					+e.IMG.img._second(src="/img/presentation__img2.png")
				+e.right._second
					+e.H2.title.h3
						span.string.is-center
							span.word.stroke 
								span топ 10 предложений
							br
							span.word 
								span
									| по коммерческим помещениям
					+e.desc.p20
						| и зарабатывайте от 5% до 38% 
						br
						| в год, от вложенной сумы
					+button(href="#") Получить
					
	include ../layouts/docs

block scripts
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
	script(src="https://code.jquery.com/jquery-3.3.1.min.js")
	script(src="/js/app.js?v=" + Date.now())