extends ../layouts/base

append vars
	- title = 'Главная';

block header
	+header(true)

block body-start
	script.
		window.onbeforeunload = function () {
			window.scrollTo(0, 0);
		}
		document.querySelector('body').classList.add("js-lock")
		document.querySelector('html').classList.add("js-lock")
	//- include ../layouts/preloader

block content

	//- +b.stars-bg
	//- +b.custom-lines.js-lottie(data-file="lines")


	include ../layouts/main
	include ../layouts/team
	include ../layouts/profitable-work
	include ../layouts/categories
	include ../layouts/catalog
	//include ../layouts/access
	//-include ../layouts/exclusive
	include ../layouts/profitable-work-1
	//-include ../layouts/test
	//-include ../layouts/benefit
	//include ../layouts/partners
	+b.SECTION.partner
			+e.wrap._five.wrap
				+e.head
					+e.H2.title.h2
						span.string.is-center
							span.word
								span Наши
								br
							span.word.stroke
								span партнеры
					+e.nav.js-partner-nav.owl-nav
				+e.slider.js-slider(
						data-settings=`{
							"smartSpeed": 500,
							"items": 1,
							"center": false,
							"nav": false,
							"margin": 0,
							"dots": false,
							"navContainer": ".js-partner-nav",
							"responsive": {
								"0": {
									"autoWidth": true,
									"center": false,
									"items": 1,
									"smartSpeed": 300
								},
								"580": {
									"autoWidth": false,
									"center": false,
									"items": 1,
									"smartSpeed": 500
								}
							}
						}`)
					+e.list.flex
						+e.item._five
							+e.A.logo(href="#")
								img(src="/img/partner1.png")
							+e.item-inner
						+e.item._five
							+e.A.logo(href="#")
								img(src="/img/partner2.png")
							+e.item-inner
						+e.item._five
							+e.A.logo(href="#")
								img(src="/img/partner3.png")
							+e.item-inner
						+e.item._five
							+e.A.logo(href="#")
								img(src="/img/partner4.png")
							+e.item-inner
						+e.item._five
							+e.A.logo(href="#")
								img(src="/img/partner5.png")
							+e.item-inner
						+e.item._five
							+e.A.logo(href="#")
								img(src="/img/partner6.png")
							+e.item-inner
						+e.item._five
							+e.A.logo(href="#")
								img(src="/img/partner7.png")
							+e.item-inner
						+e.item._five
							+e.A.logo(href="#")
								img(src="/img/partner8.png")
							+e.item-inner
						+e.item._five
							+e.A.logo(href="#")
								img(src="/img/partner8.png")
							+e.item-inner
						+e.item._five
							+e.A.logo(href="#")
								img(src="/img/partner8.png")
							+e.item-inner
					+e.list.flex
						+e.item._five
							+e.A.logo(href="#")
								img(src="/img/partner1.png")
							+e.item-inner
						+e.item._five
							+e.A.logo(href="#")
								img(src="/img/partner2.png")
							+e.item-inner
						+e.item._five
							+e.A.logo(href="#")
								img(src="/img/partner3.png")
							+e.item-inner
						+e.item._five
							+e.A.logo(href="#")
								img(src="/img/partner4.png")
							+e.item-inner
						+e.item._five
							+e.A.logo(href="#")
								img(src="/img/partner5.png")
							+e.item-inner
						+e.item._five
							+e.A.logo(href="#")
								img(src="/img/partner6.png")
							+e.item-inner
						+e.item._five
							+e.A.logo(href="#")
								img(src="/img/partner7.png")
							+e.item-inner
						+e.item._five
							+e.A.logo(href="#")
								img(src="/img/partner8.png")
							+e.item-inner
						+e.item._five
							+e.A.logo(href="#")
								img(src="/img/partner8.png")
							+e.item-inner
						+e.item._five
							+e.A.logo(href="#")
								img(src="/img/partner8.png")
							+e.item-inner
	include ../layouts/contacts
	include ../layouts/quiz-popups/quiz

	+b.modals-map.mfp-hide#modal-map-objects
		+e.map.js-object-map#map-objects(data-lat="55.751574" data-lon="37.573856")

block scripts
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
	script(src="https://code.jquery.com/jquery-3.3.1.min.js")
	script(src="/js/app.js?v=" + Date.now())
