+b.SECTION.access
	+e.wrap.wrap
		+e.box
			+e.box-inner
				+e.lock
					+icon('lock')
				+e.title.h2
					| Открыть полный доступ 
					br
					| к осеннему каталогу
					br
					| элитной недвижимости
				+button(class="_white") Открыть доступ