+b.SECTION.benefit
	+e.wrap.wrap._small
		+e.title.h2
			| вам выгодно работать
			br
			span.stroke с командой экспертов
		+e.row.flex._vertical
			+e.cell._left.flex
				+e.item
					+e.preview._window
						+icon('window')
					+e.name.h6
						| Принцип одного окна
					+e.text.p
						| Решаем задачу клиента за 1 визит (покупка, продажа, ипотека, страхование)
				+e.item
					+e.preview._houses
						+icon('houses')
					+e.name.h6
						| 0% комиссия
					+e.text.p
						| Квартиры напрямую у застройщика, без переплат
				+e.item
					+e.preview._smile
						+icon('smile')
					+e.name.h6
						| Честность и забота
					+e.text.p
						| Ценим каждого клиента, подбираем, как для себя
				+e.item
					+e.preview._homekey
						+icon('homekey')
					+e.name.h6
						| Ипотека
					+e.text.p
						| Получаем одобрение ипотеки в 95% случаев
			+e.cell._right
				+e.button.orbit-button__.A(href="#")
					+e.border
					+e.bottom
					+e.inner
						+e.center
							+e.bold записаться на консультацию
							+e.text.p по любым вопросам
							+e.arrow
								+icon('arrow')
