+b.SECTION.categories
	+e.wrap.wrap
		+e.list.flex
			+e.item._darkpink
				+e.item-inner
					+e.item-part._default
						+e.name.h4 купить
					+e.item-part._hidden
						+e.name.h4 купить
						+e.text.middle Бесплатная услуга
						+e.text.middle 
							| Подбор из 150 лучших домов
							br
							| от 20 надежных застройщиковь
						+e.arrow
							+icon('arrow')
			+e.item._orange
				+e.item-inner
					+e.item-part._default
						+e.name.h4 продать
					+e.item-part._hidden
						+e.name.h4 продать
						+e.text._totop.middle 
							| Продажа квартиры за 30 дней
							br
							| по лучшей цене
						+e.arrow
							+icon('arrow')
			+e.item._green
				+e.item-inner
					+e.item-part._default
						+e.name.h4 квартира в зачет
					+e.item-part._hidden
						+e.name.h4 
							| квартира
							br
							| в зачет
						+e.text._totop.middle 
							| Обмен старой квартиры
							br
							| на новую
						+e.arrow
							+icon('arrow')
			+e.item._pink
				+e.item-inner
					+e.item-part._default
						+e.name.h4 ипотека
					+e.item-part._hidden
						+e.name.h4 ипотека
						+e.text.middle Бесплатная услуга
						+e.text.middle 
							| Подбор ипотечной программы 
							br
							| от 25 банков-партнеров. Ставки 
							br
							| от 4.7%. Вероятность одобрения 97%
						+e.arrow
							+icon('arrow')
			+e.item._blue
				+e.item-inner
					+e.item-part._default
						+e.name.h4 инвестиции
					+e.item-part._hidden
						+e.name.h4 инвестиции
						+e.text.middle Бесплатная услуга
						+e.text.middle 
							| Выгодные вложения в недвижимость 
							br
							| с рентабельностью до 30% годовых
						+e.arrow
							+icon('arrow')
			+e.item._purple
				+e.item-inner
					+e.item-part._default
						+e.name.h4 коммерция
					+e.item-part._hidden
						+e.name.h4 коммерция
						+e.text.middle Бесплатная услуга
						+e.text.middle 
							| Подбор коммерческой 
							br
							| недвижимости для 
							br
							| любого бизнеса
						+e.arrow
							+icon('arrow')