+b.SECTION.docs
	+e.wrap.wrap._middle
		+e.top.flex
			+e.H2.title.h2
				span.string.is-center
					span.word 
						span Сертификаты
					br
					span.word.stroke 
						span и важные документы
			+e.desc.p
				| Мы заранее заботимся о спокойствии наших клиентов и перепроверяем  все разрешительные документы каждого объекта который добавляем в свой каталог
		+e.list
			+e.item.flex._vertical._justify.A(href='#')
				+e.DIV.item-left.flex._vertical
					+e.DIV.item-icon
						+icon('docsFirst')
					+e.DIV.item-text.p20
						| Разрешение 
						br
						| на строительство
				+e.DIV.item-right
					+download Скачать
			+e.item.flex._vertical._justify.A(href='#')
				+e.DIV.item-left.flex._vertical
					+e.DIV.item-icon
						+icon('docsSecond')
					+e.DIV.item-text.p20
						| Проектная 
						br
						| декларация
				+e.DIV.item-right
					+download Скачать
			+e.item.flex._vertical._justify.A(href='#')
				+e.DIV.item-left.flex._vertical
					+e.DIV.item-icon
						+icon('docsThird')
					+e.DIV.item-text.p20
						| Свидетельство 
						br
						| на участок
				+e.DIV.item-right
					+download Скачать