+b.FOOTER.footer
	+e.wrap.wrap
		+e.row.flex._justify
			+e.cell
				+e.label.p Главная
				+e.list.UL
					+e.list-item.LI
						+e.list-link.middle.A(href='#') О нас
					+e.list-item.LI
						+e.list-link.middle.A(href='#') Отзывы
					+e.list-item.LI
						+e.list-link.middle.A(href='#') Контакты
			+e.cell
				+e.label.p Услуги
				+e.list.UL
					+e.list-item.LI
						+e.list-link.middle.A(href='#') Купить
					+e.list-item.LI
						+e.list-link.middle.A(href='#') Продать
					+e.list-item.LI
						+e.list-link.middle.A(href='#') Квартира в зачет
					+e.list-item.LI
						+e.list-link.middle.A(href='#') Ипотека
					+e.list-item.LI
						+e.list-link.middle.A(href='#') Инвестиции
					+e.list-item.LI
						+e.list-link.middle.A(href='#') Коммерция
			+e.cell._center
				+logo
			+e.cell._big._right
				+e.socials.socials__.flex._vertical._right.UL
					+e.LI.item
						+e.A.link._vk(href="#" target="_blank")
							+icon('vk')
					+e.LI.item
						+e.A.link._wa(href="#" target="_blank")
							+icon('wa')
					+e.LI.item
						+e.A.link._fb(href="#" target="_blank")
							+icon('fb')
					+e.LI.item
						+e.A.link._inst(href="#" target="_blank")
							+icon('inst')
					+e.LI.item
						+e.A.link._tg(href="#" target="_blank")
							+icon('tg')
				+e.A.polit.middle(href="#") Политика конфиденциальности
				+e.text.middle
					| © 2020 ООО «Супернова»
					br
					| Все права защищены
				+e.creator.middle.A(href="https://karanikola.ru/" target="_blank")
					| Создание сайта - 
					span.b Karanikola