+b.SECTION.geography
	+e.wrap.wrap
		+e.H2.title.h2.css-text-center
			span.string.is-center
				span.word 
					span География 
				span.word.stroke 
					span "объекта"
		//+e.map#map(data-lat="55.751574" data-lon="37.573856")
		+e.bottom.flex._center
			+button(class="js-modal" href="#recall") Записаться на просмотр