include mobile

+b.HEADER.header.is-fluid
	+e.wrap.wrap
		+e.row.flex._vertical._justify
			+e.cell._left
				+e.UL.menu.menu__.flex._vertical
					+e.LI.item
						+e.A.link.middle(href="#") Услуги
					+e.LI.item
						+e.A.link.middle(href="#") О нас
					+e.LI.item
						+e.A.link.middle(href="#") Отзывы
					+e.LI.item
						+e.A.link.middle(href="#") Контакты
			+e.cell._center
				+logo
				//- +e.parent
				//- 	+e.logo._show.js-lottie#pls(data-file="logoShow" data-loop="false" data-next="pld")
				//- 	+e.logo._default.js-lottie.js-hidden#pld(data-file="logoDefault" data-autoplay="false")

			+e.cell._right.flex._vertical._right
				+e.phone.phone__.h5.A(href="tel:+74594583693")
					| +7 459 458 36 93
				+e.link.middle.A(href="#")
					| Обратный звонок
			+e.cell._hamburger
				+b.hamburger.js-mobile
					+e.line
					+e.line