+b.SECTION.main(data-aos="main-aos")
	//- +e.back._first.back-line__
	//- 	+e.circle
	//- 	svg(viewBox='0 0 1893 731', fill='none', xmlns='http://www.w3.org/2000/svg')
	//- 		path(d='M-2586.81 -2093.76C-2586.81 -534.215 -1322.55 730.046 236.999 730.046C855.184 730.046 1426.97 531.401 1892.02 194.459', stroke='url(#whiteToTransparent)')
	//- +e.back._second.back-line__
	//- 	+e.circle
	//- 	svg(viewBox='0 0 1893 731', fill='none', xmlns='http://www.w3.org/2000/svg')
	//- 		path(d='M-2586.81 -2093.76C-2586.81 -534.215 -1322.55 730.046 236.999 730.046C855.184 730.046 1426.97 531.401 1892.02 194.459', stroke='url(#whiteToTransparent)')
	//- +e.back._third.back-line__
	//- 	+e.circle
	//- 	svg(viewBox='0 0 1893 731', fill='none', xmlns='http://www.w3.org/2000/svg')
	//- 		path(d='M-2586.81 -2093.76C-2586.81 -534.215 -1322.55 730.046 236.999 730.046C855.184 730.046 1426.97 531.401 1892.02 194.459', stroke='url(#whiteToTransparent)')
	//- +e.back._fourth.back-line__
	//- 	+e.circle
	//- 	svg(viewBox='0 0 1893 731', fill='none', xmlns='http://www.w3.org/2000/svg')
	//- 		path(d='M-2586.81 -2093.76C-2586.81 -534.215 -1322.55 730.046 236.999 730.046C855.184 730.046 1426.97 531.401 1892.02 194.459', stroke='url(#whiteToTransparent)')


	//- +b.line
	//- +b.star
	//- 	+e.inner
	
	+e.wrap.wrap
		+e.title.h1
			span.string.is-center
				span.word 
					span Эксперты&nbsp;
				span.word 
					span рынка&nbsp;
				span.word 
					span недвижимости&nbsp;
				span.word.stroke 
					span Санкт-ПетерБурга&nbsp;
		+button Подберите недвижимость
		+e.list.flex._center
			+e.list-item
				+e.list-icon._home.circle-parent
					+e.circle.circle
						+circle("#D48232")
					+icon('home')
				+e.list-text.p
					| Купля / продажа 
					br
					| / ипотека / 
					br
					| инвестиции
			+e.list-item
				+e.list-icon._key.circle-parent
					+e.circle.circle._second
						+circle("#00758D")
					+icon('key')
				+e.list-text.p
					| 150 лучших домов 
					br
					| от 20 надежных 
					br
					| застройщиков
			+e.list-item
				+e.list-icon._doc.circle-parent
					+e.circle.circle._third
						+circle("#D25171")
					+icon('doc')
				+e.list-text.p
					| Более 10 000 
					br
					| сделок за 
					br
					| 26 лет