+b.SECTION.mobile
	+e.center
		+e.UL.list
			+e.LI.list-item
				+e.A.list-link.middle(href="#") Услуги
			+e.LI.list-item
				+e.A.list-link.middle(href="#") О нас
			+e.LI.list-item
				+e.A.list-link.middle(href="#") Отзывы
			+e.LI.list-item
				+e.A.list-link.middle(href="#") Контакты
		+e.bottom
			+e.bottom-part
				+e.phone.h6._big.A(href="tel:+74594583693") +7 459 458 36 93
			+e.bottom-part
				+e.recall.p Обратный звонок