+b.modals-apartment.mfp-hide#apartment
	+e.row.flex
		+e.left
			+e.preview
				+e.IMG.preview-img.object-fit(src="/img/apartment__img.jpg")
		+e.right
			+e.top.flex._justify._vertical
				+e.decoration
					+e.decoration-icon
						+icon('decoration')
					+e.decoration-text С отделкой
				+e.area
					+e.area-icon
						+icon('area')
					+e.area-text 43,9 м2
				+e.quantity
					+e.quantity-icon
						+icon('cube')
					+e.quantity-text 1
			+e.FORM.form(action="/app/mail")
				input.js-subj-input(type="hidden",name="subj", value="Узнать цену")
				+field('Имя')(name="name")
				+field('Телефон*', 'Введите телефон!')(name="phone")
				+button("submit")(class="js-subj-btn") Узнать цену
				+e.BUTTON.link.js-subj-btn Записаться на просмотр
+b.modals-video.mfp-hide#popup-video
	iframe
	
+b.modals-form.mfp-hide#popup-form1
	+e.IMG.img._first(src="/img/expert1.png")
	+e.FORM.form(action="/app/mail")
		+e.title.h4
			| Оставьте ваши данные и мы
			br
			| с вами свяжимся
		+e.messengers.messengers__
			+e.LABEL.item
				+e.INPUT.input.js-show-email(type="radio", name='messenger', value="whatsapp", checked)
				+e.btn
					+e.icon
						+icon('wa')
					+e.text Whatsapp
			+e.LABEL.item
				+e.INPUT.input.js-show-email(type="radio", name='messenger', value="Телефон")
				+e.btn
					+e.icon
						+icon('phone')
					+e.text Телефон
			+e.LABEL.item
				+e.INPUT.input.js-show-email(type="radio", name='messenger', value="E-mail")
				+e.btn
					+e.icon
						+icon('email')
					+e.text E-mail
		+field('Имя')(name="name")
		+field('Телефон*', 'Введите телефон!')(name="phone")
		+e.hidden.js-email
			+field('E-mail*', 'Введите email!')(name="email", type="email", required)
		+button("submit") Отправить
+b.modals-form.mfp-hide#popup-form2
	+e.IMG.img._second(src="/img/expert2.png")
	+e.FORM.form(action="/app/mail")
		+e.title.h4
			| Оставьте ваши данные и мы
			br
			| с вами свяжимся
		+e.messengers.messengers__
			+e.LABEL.item
				+e.INPUT.input.js-show-email(type="radio", name='messenger', value="whatsapp", checked)
				+e.btn
					+e.icon
						+icon('wa')
					+e.text Whatsapp
			+e.LABEL.item
				+e.INPUT.input.js-show-email(type="radio", name='messenger', value="Телефон")
				+e.btn
					+e.icon
						+icon('phone')
					+e.text Телефон
			+e.LABEL.item
				+e.INPUT.input.js-show-email(type="radio", name='messenger', value="E-mail")
				+e.btn
					+e.icon
						+icon('email')
					+e.text E-mail
		+field('Имя')(name="name")
		+field('Телефон*', 'Введите телефон!')(name="phone")
		+e.hidden.js-email
			+field('E-mail*', 'Введите email!')(name="email", type="email", required)
		+button("submit") Отправить
+b.modals-form.mfp-hide#popup-form3
	+e.IMG.img._third(src="/img/expert3.png")
	+e.FORM.form(action="/app/mail")
		+e.title.h4
			| Оставьте ваши данные и мы
			br
			| с вами свяжимся
		+e.messengers.messengers__
			+e.LABEL.item
				+e.INPUT.input.js-show-email(type="radio", name='messenger', value="whatsapp", checked)
				+e.btn
					+e.icon
						+icon('wa')
					+e.text Whatsapp
			+e.LABEL.item
				+e.INPUT.input.js-show-email(type="radio", name='messenger', value="Телефон")
				+e.btn
					+e.icon
						+icon('phone')
					+e.text Телефон
			+e.LABEL.item
				+e.INPUT.input.js-show-email(type="radio", name='messenger', value="E-mail")
				+e.btn
					+e.icon
						+icon('email')
					+e.text E-mail
		+field('Имя')(name="name")
		+field('Телефон*', 'Введите телефон!')(name="phone")
		+e.hidden.js-email
			+field('E-mail*', 'Введите email!')(name="email", type="email", required)
		+button("submit") Отправить
+b.modals-form.mfp-hide#popup-form4
	+e.IMG.img._fourth(src="/img/expert4.png")
	+e.FORM.form(action="/app/mail")
		+e.title.h4
			| Оставьте ваши данные и мы
			br
			| с вами свяжимся
		+e.messengers.messengers__
			+e.LABEL.item
				+e.INPUT.input.js-show-email(type="radio", name='messenger', value="whatsapp", checked)
				+e.btn
					+e.icon
						+icon('wa')
					+e.text Whatsapp
			+e.LABEL.item
				+e.INPUT.input.js-show-email(type="radio", name='messenger', value="Телефон")
				+e.btn
					+e.icon
						+icon('phone')
					+e.text Телефон
			+e.LABEL.item
				+e.INPUT.input.js-show-email(type="radio", name='messenger', value="E-mail")
				+e.btn
					+e.icon
						+icon('email')
					+e.text E-mail
		+field('Имя')(name="name")
		+field('Телефон*', 'Введите телефон!')(name="phone")
		+e.hidden.js-email
			+field('E-mail*', 'Введите email!')(name="email", type="email", required)
		+button("submit") Отправить
+b.modals-form.mfp-hide#popup-form5
	+e.IMG.img._fifth(src="/img/expert5.png")
	+e.FORM.form(action="/app/mail")
		+e.title.h4
			| Оставьте ваши данные и мы
			br
			| с вами свяжимся
		+e.messengers.messengers__
			+e.LABEL.item
				+e.INPUT.input.js-show-email(type="radio", name='messenger', value="whatsapp", checked)
				+e.btn
					+e.icon
						+icon('wa')
					+e.text Whatsapp
			+e.LABEL.item
				+e.INPUT.input.js-show-email(type="radio", name='messenger', value="Телефон")
				+e.btn
					+e.icon
						+icon('phone')
					+e.text Телефон
			+e.LABEL.item
				+e.INPUT.input.js-show-email(type="radio", name='messenger', value="E-mail")
				+e.btn
					+e.icon
						+icon('email')
					+e.text E-mail
		+field('Имя')(name="name")
		+field('Телефон*', 'Введите телефон!')(name="phone")
		+e.hidden.js-email
			+field('E-mail*', 'Введите email!')(name="email", type="email", required)
		+button("submit") Отправить
+b.modals-form.mfp-hide#popup-form6
	+e.IMG.img._sixth(src="/img/expert6.png")
	+e.FORM.form(action="/app/mail")
		+e.title.h4
			| Оставьте ваши данные и мы
			br
			| с вами свяжимся
		+e.messengers.messengers__
			+e.LABEL.item
				+e.INPUT.input.js-show-email(type="radio", name='messenger', value="whatsapp", checked)
				+e.btn
					+e.icon
						+icon('wa')
					+e.text Whatsapp
			+e.LABEL.item
				+e.INPUT.input.js-show-email(type="radio", name='messenger', value="Телефон")
				+e.btn
					+e.icon
						+icon('phone')
					+e.text Телефон
			+e.LABEL.item
				+e.INPUT.input.js-show-email(type="radio", name='messenger', value="E-mail")
				+e.btn
					+e.icon
						+icon('email')
					+e.text E-mail
		+field('Имя')(name="name")
		+field('Телефон*', 'Введите телефон!')(name="phone")
		+e.hidden.js-email
			+field('E-mail*', 'Введите email!')(name="email", type="email", required)
		+button("submit") Отправить

