+b.SECTION.group
	+b.SECTION.partners._without
		+e.title.h2
			| наши 
			span.stroke партнеры
	+b.SECTION.partners
		+e.wrap.wrap
			+e.box
				+e.circle
				+e.list
					+e.item
						+e.item-preview
							+e.item-image.IMG(src="/app/img/partner_1.svg")
					+e.item
						+e.item-preview
							+e.item-image.IMG(src="/app/img/partner_2.svg")
					+e.item
						+e.item-preview
							+e.item-image.IMG(src="/app/img/partner_3.svg")
					+e.item
						+e.item-preview
							+e.item-image.IMG(src="/app/img/partner_4.svg")
					+e.item
						+e.item-preview
							+e.item-image.IMG(src="/app/img/partner_5.svg")
					+e.item
						+e.item-preview
							+e.item-image.IMG(src="/app/img/partner_6.svg")
					+e.item
						+e.item-preview
							+e.item-image.IMG(src="/app/img/partner_7.svg")
					+e.item
						+e.item-preview
							+e.item-image.IMG(src="/app/img/partner_1.svg")
					+e.item
						+e.item-preview
							+e.item-image.IMG(src="/app/img/partner_2.svg")
					+e.item
						+e.item-preview
							+e.item-image.IMG(src="/app/img/partner_3.svg")
					+e.item
						+e.item-preview
							+e.item-image.IMG(src="/app/img/partner_4.svg")
					+e.item
						+e.item-preview
							+e.item-image.IMG(src="/app/img/partner_5.svg")
					+e.item
						+e.item-preview
							+e.item-image.IMG(src="/app/img/partner_6.svg")
					+e.item
						+e.item-preview
							+e.item-image.IMG(src="/app/img/partner_7.svg")