+b.profitable-work.SECTION
	+e.wrap.wrap
		+e.title._without.h2
			span.stroke Эксклюзивно
			br
			| для наших клиентов

		+e.row.flex
			+e.part._left.flex
				+e.cell
					+e.preview._loupe.circle-parent
						+e.circle._first.circle
							+circle("#D48232")
						+icon('louope')
					+e.cell-text-container
						+e.cell-title.SPAN Бесплатная<br>приемка квартиры
						+e.text.p
							| Приемка квартиры с профессионалом
							br
							| компании «Cityprof»
				+e.cell
					+e.preview._decoration.circle-parent
						+e.circle._second.circle
							+circle("#00758D")
						+e.IMG(src="/app/img/otdelka.svg")
					+e.cell-text-container
						+e.cell-title.SPAN Скидка<br>на ремонт
						+e.text.p
							| Создание дизайн проекта и скидка
							br
							| на смету от Елизоветы Пестовой
				+e.cell
					+e.preview._doc.circle-parent
						+e.circle._third.circle
							+circle("#D25171")
						+icon('docSecond')
					+e.cell-text-container
						+e.cell-title.SPAN Оформление<br>налогового вычета
						+e.text.p
							| Сбор и оформление документов
							br
							| для получение налогового вычета
				+e.cell
					+e.preview._docs.circle-parent
						+e.circle._fourth.circle
							+circle("#AAAC24")
						+icon('docThird')
					+e.cell-text-container
						+e.cell-title.SPAN Оформление<br>права собственности
						+e.text.p
							| Сбор и оформление документов для
							br
							| оформления права собственности

			+e.part._right
				+e.button.orbit-button__.js-modal.A(href="#quiz-1")
					+e.border
						+e.border-wrap
							svg(viewBox="0 0 100 100")
								circle(cx="50" cy="50" r="49")
					+e.bottom
					+e.inner
						+e.center
							+e.part
								+e.bold Пройди тест
								+e.text.p и получи скидку
							+e.arrow
								+icon('arrow')
