+b.profitable-work.SECTION
	+e.wrap.wrap
		+e.title.h2.title.H2
			| Преимущества<br>
			SPAN.stroke работы с нами
		+e.wrap-bottom.wrap.flex._center._vertical
			+e.subtitle Наш сервис - <span>#ЭтоКосмос</span>
		+e.row.flex
			+e.part._left.flex
				+e.cell
					+e.preview._window.circle-parent
						+e.circle._first.circle
							+circle("#D48232")
						+icon('window')
					+e.cell-text-container
						+e.cell-title.SPAN Принцип <br>одного окна
						+e.text.p
							| Решаем задачу клиента за один
							br
							| визит (покупка, продажа,
							br
							| ипотека, страхование
				+e.cell
					+e.preview._honesty.circle-parent
						+e.circle._third.circle
							+circle("#D25171")
						+icon('smile')
					+e.cell-text-container
						+e.cell-title.SPAN Проверенные<br>застройщики
						+e.text.p
							| Наша служба безопасности тщательно
							br
							| проверят всех застройщиков
							br
							| с которыми мы работаем
				+e.cell
					+e.preview._no-commission.circle-parent
						+e.circle._second.circle
							+circle("#00758D")
						+icon('houses')
					+e.cell-text-container
						+e.cell-title.SPAN 0% <br>комиссия
						+e.text.p
							| Работаем напрямую от
							br
							| застройщика, без комиссии
							br
							| и переплат
				+e.cell
					+e.preview._mortgage.circle-parent
						+e.circle._fourth.circle
							+circle("#AAAC24")
						+icon('homekey')
					+e.cell-text-container
						+e.cell-title.SPAN Ипотека
						+e.text.p
							| Получаем одобрение
							br
							| ипотеки для 95%
							br
							| наших клиентов
			+e.part._right
				+e.button.orbit-button__.A(href="#")
					+e.border
						+e.border-wrap
							svg(viewBox="0 0 100 100")
								circle(cx="50" cy="50" r="49")
					+e.bottom
					+e.inner
						+e.center
							+e.part
								+e.bold Записаться <br>на консультацию
								+e.text.p по любым вопросам
							+e.arrow
								+icon('arrow')
