+b.profitable-work.SECTION
	+e.wrap.wrap
		+e.title.h2
			span.stroke Эксклюзивно
			br
			| для наших клиентов

		+e.row.flex
			+e.part._left.flex
				+e.cell
					+e.preview._loupe.circle-parent
						+e.circle._first.circle
							+circle("#D48232")
						+icon('louope')
					+e.text.p
						| Бесплатная приемка
						br
						| квартиры от ведущих
						br
						| экспертов компании
						br
						| Cityprof
				+e.cell
					+e.preview._decoration.circle-parent
						+e.circle._second.circle
							+circle("#00758D")
						+e.IMG(src="/app/img/otdelka.svg")
					+e.text.p
						| Скидка до 30%
						br
						| на ремонтные работы
						br
						| и на отделочные
						br
						| материалы
				+e.cell
					+e.preview._doc.circle-parent
						+e.circle._third.circle
							+circle("#D25171")
						+icon('docSecond')
					+e.text.p
						| Сбор и заполнение
						br
						| документов для
						br
						| оформления
						br
						| налогового вычета
				+e.cell
					+e.preview._docs.circle-parent
						+e.circle._fourth.circle
							+circle("#AAAC24")
						+icon('docThird')
					+e.text.p
						| Бесплатное
						br
						| оформление
						br
						| права собственности
						br
						| на квартиру

			+e.part._right
				+e.button.orbit-button__.A(href="#")
					+e.border
						+e.border-wrap
							svg(viewBox="0 0 100 100")
								circle(cx="50" cy="50" r="49")
					+e.bottom
					+e.inner
						+e.center
							+e.part.is-desktop
								+e.bold Записаться <br>на консультацию
								+e.text.p по любым вопросам
							+e.part.is-mobile
								+e.bold
									| Записаться
									br
									| на консультацию
							+e.arrow
								+icon('arrow')
