+b.profitable-work.SECTION
	+e.wrap.wrap
		+e.title.h2.title.H2
			| Выгодно работать<br>
			SPAN.stroke с командой экспертов

		+e.row.flex
			+e.part._left.flex
				+e.cell
					+e.preview._window.circle-parent
						+e.circle._first.circle
							+circle("#D48232")
						+icon('window')
					+e.cell-title.SPAN Принцип <br>одного окна
					+e.text.p
						| Решаем задачу клиенлта за
						br
						| 1 визит (покупка, продажа,
						br
						| ипотека, страхование

				+e.cell
					+e.preview._no-commission.circle-parent
						+e.circle._second.circle
							+circle("#00758D")
						+icon('houses')
					+e.cell-title.SPAN 0% <br>комиссия
					+e.text.p
						| Квартиры напрямую
						br
						| у застройщика,
						br
						| без переплат

				+e.cell
					+e.preview._honesty.circle-parent
						+e.circle._third.circle
							+circle("#D25171")
						+icon('smile')
					+e.cell-title.SPAN Честность <br>и забота
					+e.text.p
						| Ценим каждого клиента,
						br
						| подбираем, как для себя

				+e.cell
					+e.preview._mortgage.circle-parent
						+e.circle._fourth.circle
							+circle("#AAAC24")
						+icon('homekey')
					+e.cell-title.SPAN Ипотека
					+e.text.p
						| Получаем одобрение
						br
						| ипотеки в 95% случаев

			+e.part._right
				+e.button.orbit-button__.A(href="#")
					+e.border
						+e.border-wrap
							svg(viewBox="0 0 100 100")
								circle(cx="50" cy="50" r="49")
					+e.bottom
					+e.inner
						+e.center
							+e.part.is-desktop
								+e.bold Записаться <br>на консультацию
								+e.text.p по любым вопросам
							+e.part.is-mobile
								+e.bold
									| Записаться
									br
									| на консультацию
							+e.arrow
								+icon('arrow')
