+b.SECTION.reward
	+e.wrap.wrap._middle
		+e.head
			+e.H1.title.h2
				span.string.is-center
					span.word 
						span Зал 
					span.word.stroke 
						span славы
			+e.nav.js-reward-nav.owl-nav
	+e.slider.js-slider(
				data-settings=`{
					"smartSpeed": 700,
					"autoWidth": true,
					"center": true,
					"nav": false,
					"dots": false,
					"navContainer": ".js-reward-nav",
					"responsive": {
						"0": {
							"autoWidth": false,
							"center": false,
							"items": 1,
							"smartSpeed": 500,
							"dots": true
						},
						"580": {
							"autoWidth": false,
							"center": false,
							"items": 1,
							"smartSpeed": 500
						},
						"1025": {
							"autoWidth": true,
							"center": true,
							"smartSpeed": 700
						}
					}
				}`)
		+e.item
			+e.preview
				+e.IMG.preview-img(src="/img/reward__img1.png")
			+e.info
				+e.name.h6
					| нАГРАДА
					br
					| за достижения
				+e.desc
					| За величайший 
					br
					| вклад
		+e.item
			+e.preview
				+e.IMG.preview-img(src="/img/reward__img2.png")
			+e.info
				+e.name.h6
					| нАГРАДА
					br
					| за достижения
				+e.desc
					| За величайший 
					br
					| вклад
		+e.item
			+e.preview
				+e.IMG.preview-img(src="/img/reward__img3.png")
			+e.info
				+e.name.h6
					| нАГРАДА
					br
					| за достижения
				+e.desc
					| За величайший 
					br
					| вклад