+b.SECTION.reward
	+e.wrap.wrap._middle
		+e.head
			+e.H1.title.h2
				span.string.is-center
					span.word 
						span Зал 
					span.word.stroke 
						span славы
			include ../layouts/owl-nav
	+e.slider.js-slider.owl-carousel
		+e.item
			+e.preview
				+e.IMG.preview-img(src="/img/reward__img1.jpg")
			+e.info
				+e.name.h6
					| нАГРАДА
					br
					| за достижения
				+e.desc
					| За величайший 
					br
					| вклад
		+e.item
			+e.preview
				+e.IMG.preview-img(src="/img/reward__img2.jpg")
			+e.info
				+e.name.h6
					| нАГРАДА
					br
					| за достижения
				+e.desc
					| За величайший 
					br
					| вклад
		+e.item
			+e.preview
				+e.IMG.preview-img(src="/img/reward__img3.jpg")
			+e.info
				+e.name.h6
					| нАГРАДА
					br
					| за достижения
				+e.desc
					| За величайший 
					br
					| вклад