+b.SECTION.squad
	+e.wrap.wrap
		+e.bg._desktop
			+e.IMG(src="/img/squad-bg.png")
		+e.inner 
			+e.H2.title
				span.stroke Вступай 
				br
				| в команду!
			+e.bg._mobile
				+e.IMG(src="/img/squad-bg-mobile.png")
			+button(href="#popup-form2" class="js-modal") Отправить резюме