+b.SECTION.test
	//- +e.lines.custom-lines__.js-lottie(data-file="lines")
	+e.wrap.wrap._small
		+e.row.flex._vertical
			+e.cell._left
				+e.title.h2
					| Пройдите 
					br
					span.stroke онлайн-тест
				+e.text.big
					| и получите пошаговую инструкцию, как сэкономить 
					span.pink 260 000 ₽ 
					| при покупке квартиры, а также 
					span.pink 390 000 ₽ 
					| на процентах по ипотеке

			+e.cell._right
				+e.button.orbit-button__.A(href="#")
					+e.border
						+e.border-wrap
							svg(viewBox="0 0 100 100")
								circle(cx="50" cy="50" r="49")
					+e.bottom
					+e.inner
						+e.center
							+e.part.is-desktop
								+e.bold Пройди тест
								+e.text.p И получи скидку
							+e.part.is-mobile
								+e.bold 
									| Получить
									br
									| скидки
							+e.arrow
								+icon('arrow')
