



@include min-screen($large_tablet + 1) {

	[data-aos]{

		.aos{
			&--top{
				opacity: 0;
				visibility: hidden;
				// transform: translateY(70%);
				transform: translateY(15rem);
			}

			&--fade{
				opacity: 0;
			}
		}
		
		&.aos-animate{

			.aos{

				&--fade{
					opacity: 1;

					transition: opacity ease 1s;
				}			

				&--top{
					opacity: 1;
					visibility: visible;
					transition: transform cubic-bezier(0.22, 1, 0.36, 1) 1.6s, opacity ease 1s;
					transform: translateY(0%);
				}
			}		
		}
	}

	[data-aos="gallery"]{
		.slider__img{
			left: 1px;
			right: 1px;
			width: calc(100% - 2px)!important;
			height: calc(100% - 2px)!important;
			bottom: 1px;
			top: 1px;		
		}
		.slider__preview{
			&:before,&:after{
				content: '';
				display: block;
				position: absolute;
				width: 55%;
				height: 100%;
				top: 0;
				background-color: #000;
				z-index: 600;
				transition: ease 1s;
			}

			&:before{
				left: 0;
				transform-origin: 100% 50%;
			}

			&:after{
				left: 50%;
				transform-origin: 50% 50%;
			}
		}
		&.aos-animate{

			.slider__preview{
				&:before, &:after{
					transition-timing-function: cubic-bezier(.77,0,.175,1);
					transition-duration: 1s;
				}
				&:before{
					transform: translateX(-100%);
				}
				&:after{
					transform: translateX(100%);
				}
				
			}
		}	
	}
	[data-aos="case-aos"]{


		opacity: 0;
		visibility: hidden;
		// transform: translateY(70%);
		transform: translateY(15rem);

		&.aos-animate{
			opacity: 1;
			visibility: visible;
			transition: transform cubic-bezier(0.22, 1, 0.36, 1) 1.6s, opacity ease .5s;
			transform: translateY(0%);
		}

	}	
}