.btn{
	padding-left: 4rem;
	padding-right: 4rem;
	height: 6.5rem;
	color: #fff;
	background-color: $pink;
	cursor: pointer;
	border: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 0.05em;
	font-size: 2rem;
	max-width: 100%;
	font-family: RoadRadio;
	font-weight: 300;
	transition: ease .2s;

	&_white{
		color: #151515;
		background-color: #fff;
	}
	
	&_transparent {
		background: none;
		color: $pink;
		&:hover {
			background: $pink;
			color: #fff;
		}
	}

	@include max-screen($large_mobile) {
		height: 5rem;
		font-size: 1.2rem;
		line-height: 1em;
		padding-left: 3rem;
		padding-right: 3rem;
		&_transparent {
			background: $pink;
			color: #fff;
		}
	}
}