.link{
	text-transform: uppercase;
	display: inline-block;
	color: $pink;
	letter-spacing: 0.05em;
	font-family: RoadRadio;
	line-height: 1em;
	font-weight: 300;
	cursor: pointer;
	border: none;
	background: transparent;
}