.orbit-button{
	width: 37.5rem;
	max-width: 100%;
	color: #fff;
	border-radius: 50%;
	margin: auto;
	display: block;
	position: relative;
	background-color: $pink;
	animation: orbitButtonFlying 5s ease-in-out infinite alternate-reverse;
	// &:before{
	// 	content: '';
	// 	display: block;
	// 	position: absolute;
	// 	left: 0px;
	// 	right: 0px;
	// 	bottom: 0px;
	// 	top: 0px;
	// 	z-index: 20;

	// 	background: #7F3955;
	// 	transition: ease .4s;
	// 	border-radius: 50%;
	// 	transform: scale(0);
	// }
	
	// &:hover{
	// 	&:before{
	// 		transform: scale(1);
	// 	}
	// }

	&:hover{
		animation-play-state: paused;

		.orbit-button{
			&__arrow{
				transform: translateX(1.5rem);
			}
			&__border{
				transform: matrix(.66,-.75,1.05,-.2,0,0) scale(1.2);
				// transform: matrix(.76,-.55,.95,-.1,0,0) scale(1.2);
			}
			
		}
	}

	&__border{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		perspective: 400px;
		display: block;
		transition: ease .4s;
		// transform: matrix(0.26, -0.95, 0.99, -0.2, 0, 0);
		transform: matrix(.26,-.85,1.05,-.2,0,0);

		svg{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			fill: transparent;
		}

		circle{
			stroke: #fff;
			stroke-width: .5;
			stroke-dasharray: 5;
			stroke-linecap: round;
		}

		&-wrap{
			position: absolute;
			left: 0;
			top: 0;
		    margin-top: -4.9%;
		    margin-left: -2%;

			width: 410/375*100%;
			padding-top: 410/375*100%;		

			animation: orbitButton 3.5s linear infinite;	
		}

		// &:before{
		// 	content: '';
		// 	display: block;
		// 	position: absolute;
		// 	left: 0;
		// 	top: 0;
		//     margin-top: -4.9%;
		//     margin-left: -2%;

		// 	width: 410/375*100%;
		// 	padding-top: 410/375*100%;
		// 	animation: orbit 1.3s linear infinite;
		// 	border: 2px dashed #FFFFFF;
		// 	box-sizing: border-box;
		// 	border-radius: 50%;
			
		// }		
	}

	&__bottom{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 50%;
		display: block;
		overflow: hidden;
		z-index: 15;

		&:before{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 200%;
			border-radius: 50%;
			background-color: $pink;
		}
	}

	&__inner{
		padding-top: 100%;
		position: relative;
		display: block;
		z-index: 20;
	}

	&__center{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		flex-wrap: wrap;
		text-align: center;
	}

	&__bold{
		font-size: 2.7rem;
		margin-bottom: 1rem;
		line-height: 1em;
		font-family: RoadRadio;
		letter-spacing: 0.05em;
		display: block;

	}

	&__text{
		display: block;
	}

	&__arrow{
		display: inline-block;
		width: 7rem;
		margin-top: 3rem;
		fill: transparent;
		stroke: #fff;
		transition: ease .2s;
	}

	@include max-screen($large_mobile) {
		width: 215px;
		&__bold{
			font-size: 1.5rem;
			line-height: 1.6rem;
		}
		&__arrow{
			width: 2rem;
			stroke-width: 3px;
			margin-top: 2rem;
		}
		&__border{
			&:before{
				border-width: 1px;
			}
		}
	}
}