.owl {
	&-nav {
		display: flex;
		justify-content: space-between;
		width: 16rem;
		min-width: 16rem;
	}
	&-arrow {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 7rem;
		height: 7rem;
		cursor: pointer;
		border: 1px solid rgba(#fff, .3);
		border-radius: 100%;
		transition: ease .2s;
		cursor: pointer;
		svg {
			width: 1.7rem;
			height: 1.7rem;
			fill: none;
			stroke: #fff;
			stroke-width: 1px;
		}
		&_prev {
			padding-right: .3rem;
		}
		&_next {
			padding-left: .3rem;
		}
		&:hover {
			background-color: $pink;
			border-color: $pink;
		}
	}
	
	&-dots {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		height: 0;
		transform: translateY(3rem);
		margin: auto;
		padding-left: 1rem;
		position: relative;
		z-index: 5;
		.owl-dot {
			width: 7px;
			height: 7px;
			border: 1px solid #fff!important;
			border-radius: 100%;
			transition: ease .2s;
			margin-right: .7rem;
			margin-top: .7rem;
			&.active {
				border-color: $pink!important;
				background-color: $pink!important;
			}
		}
	}
	
	@include max-screen($large_mobile) {
		&-nav {
			min-width: inherit;
			width: auto;
		}
		&-arrow {
			width: 34px;
			height: 34px;
			svg {
				width: 9px;
				height: 9px;
				stroke-width: 1.5;
			}
			&_next {
				margin-left: 5px;
			}
		}
	}
}