.owl {
	&-nav {
		display: flex;
		justify-content: space-between;
		width: 17rem;
		min-width: 17rem;
	}
	&-arrow {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 7rem;
		height: 7rem;
		cursor: pointer;
		border: 1px solid #fff;
		border-radius: 100%;
		transition: ease .2s;
		cursor: pointer;
		svg {
			width: 1.7rem;
			height: 1.7rem;
			fill: none;
			stroke: #fff;
			stroke-width: 1px;
		}
		&_prev {
			padding-right: .3rem;
		}
		&_next {
			padding-left: .3rem;
		}
		&:hover {
			background-color: $pink;
			border-color: $pink;
		}
	}
	
	&-dots {
		display: flex;
		justify-content: center;
		height: 0;
		transform: translateY(5rem);
		.owl-dot {
			width: 10px;
			height: 10px;
			border: 1px solid #fff!important;
			border-radius: 100%;
			transition: ease .2s;
			&:not(:last-child) {
				margin-right: 1rem;
			}
			&.active {
				border-color: $pink!important;
				background-color: $pink!important;
			}
		}
	}
	
	@include max-screen($large_mobile) {
		&-nav {
			padding: 0 2rem;
			width: auto;
		}
		&-arrow {
			width: 5rem;
			height: 5rem;
		}
	}
}