.radio {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	&__input {
		display: none;
		&:checked + .radio__icon {
			border-color: $pink;
			&:before {
				opacity: 1;
			}
			& + .radio__text {
				color: $pink;
			}
		}
	}
	&__text {
		transition: ease .2s;
	}
	&__icon {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 2rem;
		min-width: 2rem;
		margin-right: 2rem;
		height: 2rem;
		border: 1px solid #fff;
		border-radius: 100%;
		&:before {
			content: '';
			display: block;
			width: .7rem;
			height: .7rem;
			background:  $pink;
			border-radius: 100%;
			opacity: 0;
		}
	}
	@include max-screen($large_mobile) {
		&__text {
			font-size: 1.3rem;
		}
	}
}