.sub-menu {
	font-size: 1.5rem;
	line-height: 14/15*1;
	&__list {
		margin-top: -1.3rem;
	}
	&__item {
		&:not(:last-child) {
			margin-right: 5rem;
		}
	}
	
	@include max-screen($large_tablet) {
		&__list {
			justify-content: flex-end;
		}
		&__item {
			font-size: 1.4rem;
			line-height: 1;
			&:not(:last-child) {
				margin-right: 2rem;
			}
		}
	}
	@include max-screen($small_tablet) {
		display: none;
	}
}