.apartments {
	padding-top: 20rem;
	&__list {
		margin-right: -1px;
		position: relative;
		z-index: 15;
	}
	&__item {
		width: 25%;
		border-right: 1px solid #151515;
		margin-bottom: 1rem;
	}
	
	&-item {
		cursor: pointer;
		&:hover{
			.apartments-item__preview-img{
				// 
				transform: scale(1.05);
			}
		}
		&__preview {
			position: relative;
			background: #fff;
			padding: 7.3rem 6.3rem 6rem 6.3rem;
			display: flex;
			align-items: center;
			justify-content: center;
			&-img {
				position: relative;
				padding-top: 334/274*100%;
				transition: ease .3s;
				width: 100%;

				picture{
					position: absolute;
					left: 0;
					display: flex;
					align-items: center;
					justify-content: center;
					top: 0;
					width: 100%;
					height: 100%;

					img{
						max-width: 100%;
						max-height: 100%;
					}
				}
			}
		}
		&__bottom {
			flex-wrap: nowrap;
			background: #151515;
			height: 10rem;
			border: 1px solid #fff;
			padding-left: 40/480*100%;
		}
		&__button {
			height: 10rem;
			transform: translateX(2px);
			padding-left: 2rem;
			padding-right: 2rem;
			width: 50%;
			font-weight: 300;
		}
		&__quantity {
			display: flex;
			align-items: center;
			&-icon {
				width: 2rem;
				min-width: 2rem;
				margin-left: 1.5rem;
				fill: none;
				stroke: #fff;
				stroke-width: 1px;
				opacity: .3;
			}
		}
		&__area {
			display: flex;
			align-items: center;
			&-icon {
				width: 2.2rem;
				min-width: 2.2rem;
				margin-left: 1.5rem;
				fill: none;
				stroke: #fff;
				stroke-width: 1px;
				opacity: .6;
			}
		}
		&__decoration {
			position: absolute;
			z-index: 3;
			background: #fff;
			display: inline-flex;
			align-items: center;
			left: 2rem;
			top: 2rem;
			height: 4.9rem;
			padding: 1rem 1.5rem;
			border: 1px solid rgba(#000, .2);
			border-radius: .7rem;
			&-icon {
				width: 2.9rem;
				height: 2.9rem;
				margin-right: 1rem;
				fill: $pink;
			}
			&-text {
				color: #000;
				font-size: 1.5rem;
				line-height: 1;
				font-weight: normal;
			}
		}
		&:hover {
			.apartments-item__button {
				background: $pink;
				color: #fff;
			}
		}
	}
	&__filter {
		margin-top: 10rem;
		border-top: 1px solid rgba(#fff, .2);
		padding: 4rem 0;
		&-column {
			display: flex;
			align-items: center;
			justify-content: center;
			&:first-child {
				justify-content: flex-start;
				width: 220/1780*100%;
			}
			&:nth-child(2) {
				width: 334/1780*100%;
				border-left: 1px solid rgba(#fff, .2);
			}
			&:nth-child(3) {
				width: 334/1780*100%;
				border-left: 1px solid rgba(#fff, .2);
			}
			&:nth-child(4) {
				width: 360/1780*100%;
				border-left: 1px solid rgba(#fff, .2);
			}
			&:last-child {
				width: 530/1780*100%;
				justify-content: flex-end;
			}
		}
		.btn {
			width: 410/530*100%;
		}
	}
	&__radio {
		margin-left: 40/480*100%;
	}
	&__nav {
		display: none;
		margin-top: 2rem;
		position: relative;
		padding-bottom: 2rem;
		&:after {
			content: '';
			display: block;
			height: 1px;
			background: rgba(#fff, .2);
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
		}
	}
	
	&__button {
		&-wrap {
			margin-top: 9rem;
			overflow: hidden;
		}
		&-center {
			position: relative;
			&:before, &:after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				margin-top: -1px;
				height: 2px;
				width: 67rem;
				background: linear-gradient(to right, rgba(#fff, .2) 0%, rgba(#fff, 0));
			}
			&:before {
				right: 100%;
				margin-right: 5rem;
				background: linear-gradient(to left, rgba(#fff, .2) 0%, rgba(#fff, 0));
			}
			&:after {
				left: 100%;
				margin-left: 5rem;
			}
			.btn {
				width: 35rem;
			}
		}
	}
	
	@include max-screen($large_tablet) {
		&__filter {
			&-column {
				&:first-child {
					justify-content: flex-start;
					width: 199/1780*100%;
				}
				&:nth-child(2) {
					width: 381/1780*100%;
					border-left: 1px solid rgba(#fff, .2);
				}
				&:nth-child(3) {
					width: 381/1780*100%;
					border-left: 1px solid rgba(#fff, .2);
				}
				&:nth-child(4) {
					width: 407/1780*100%;
					border-left: 1px solid rgba(#fff, .2);
				}
				&:last-child {
					width: 410/1780*100%;
					justify-content: flex-end;
				}
				.btn {
					width: 100%;
				}
			}
		}
		.apartments__button-center::after, .apartments__button-center::before {
			display: none;
		}
	}
	
	@include max-screen($small_tablet) {
		&__filter {
			margin-left: -2rem;
			margin-right: -2rem;
			padding-left: 2rem;
			padding-right: 2rem;
			&-column {
				justify-content: flex-start;
				&:not(:last-child) {
					margin-bottom: 20px;
				}
				&:first-child, &:nth-child(2), &:nth-child(3), &:nth-child(4) {
					width: 50%;
				}
				&:nth-child(2), &:nth-child(3), &:nth-child(4) {
					border-left: 0;
				}
				&:last-child {
					width: 100%;
				}
			}
		}
		&__item {
			width: 50%;
		}
	}
	@include max-screen($large_mobile) {
		padding-top: 10rem;
		&__filter {
			margin-top: 3rem;
			margin-left: 0;
			margin-right: 0;
			border-top-width: 1px;
			padding: 2rem 0;
			border-color: rgba(#fff, .2);
			border-bottom: 1px solid rgba(#fff, .2);
			&-column {
				border-left: 0!important;
				width: 100%!important;
				height: auto;
				&:not(:last-child) {
					margin-bottom: 1.5rem;
				}
			}
		}
		&__radio {
			margin-left: 0;
		}
		&__list {
			margin-right: 0;
			padding: 0 2rem;
			padding-top: 2rem;
		}
		&__item {
			border-right: 0;
			width: 100%;
			margin-bottom: 0;
		}
		&-item {
			&__preview {
				padding-left: 3rem;
				padding-bottom: 3rem;
				padding-right: 3rem;
				height: auto;
				&-img{
					padding-top: 82.89781%;
				}
			}
			&__bottom {
				height: 6rem;
				padding-left: 15px;
			}
			&__button {
				height: 6rem;
			}
			&__decoration {
				left: 1.2rem;
				top: 1.2rem;
				height: 4rem;
				padding: .7rem 1.2rem;
				&-icon {
					width: 2.2rem;
					height: 2.2rem;
					margin-right: 1.2rem;
				}
				&-text {
					font-size: 1.2rem;
				}
			}
		}
		&__nav {
			display: flex;
		}
		.owl-dots {
			transform: translateY(3.5rem);
		}
		&__button {
			&-wrap {
				margin-top: 40px;
			}
			&-center {
				width: 100%;
				.btn {
					width: 100%;
				}
			}
		}
	}
}