.card {
	&-bg {
		background: url(/img/card__bg.png) top no-repeat;
		background-size: auto 100%;
		min-height: 100rem;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}
	&-main {
		margin-top: 16.9rem;
		min-height: 61.5rem;
		padding-bottom: 10rem;
		margin-bottom: 5rem;
		text-align: center;
		&__desc {
			margin-top: 5rem;
			max-width: 57rem;
			font-weight: 500;
			margin-left: auto;
			margin-right: auto;
		}
		&__bottom {
			margin-top: 10rem;
		}
		
		&__button {
			width: 32.4rem;
			margin-right: 5rem;
		}
	}
	@include max-screen($large_mobile) {
		&-bg {
			min-height: 60vh;
		}
		&-main {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 0;
			padding: 5rem 0 8rem 0;
			min-height: inherit;
			margin-bottom: 20px;
			&__desc {
				margin-top: 30px;
			}
			&__bottom {
				margin-top: 20px;
				justify-content: center;
			}
			&__button {
				width: 100%;
				margin-right: 0;
				order: 2;
				margin-top: 20px;
			}
			&__play {
				order: 1;
			}
		}
	}
}