.categories{
	padding-top: 10.4rem;
	padding-bottom: 10rem;
	z-index: 50;
	position: relative;

	&__list{
		//width: 1335/1780*100%;
		width: 100%;
		margin: auto;
	}

	&__name{
		margin: .3rem 0;
	}

	&__text{
		line-height: 2.2rem;
		font-weight: 300;

		&_totop{
			margin-top: 2rem;
		}

		&:not(:last-child){
			margin-bottom: 2rem;
		}
	}

	&__link{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 50;

		border-radius: 50%;
	}

	&__arrow{
		width: 7rem;
		margin-top: 1rem;
		stroke: #fff;
		fill: transparent;
	}

	&__close{
		position: absolute!important;
		right: 1rem;
		top: 2rem;
		display: none;
		z-index: 500;
	}

	&__bg{
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 400;
		display: none;
		background: rgba(#151515, .7);
		opacity: 0;
		visibility: hidden;
		transition: ease .25s;
	}

	&__mobile-link{
		display: none;
		margin-top: 1.6rem;

		span{
			width: 1.7rem;
			height: 1.4rem;
			position: relative;
			overflow: hidden;
			margin-left: .9rem;

			svg{
				max-width: none;
				width: 70px;
				position: absolute;
				right: -16px;
				top: 0;
				height: 100%;
				stroke: #fff;
			}
		}
	}

	&__item{
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
		-webkit-tap-highlight-color: transparent;  // i.e. Nexus5/Chrome and Kindle Fire HD 7''

		width: 33.33%;
		position: relative;
		//border: 1px solid #FFFFFF;
		//border-radius: 50%;
		color: #FFFAFA;
		cursor: pointer;
		transition: ease .2s;
		outline: none;
		-webkit-appearance: none;
		appearance: none;
		-moz-appearance: none;

		&:nth-of-type(1) {
			&::after {
				position: absolute;
				bottom: 0;

				width: 100%;
				height: 1px;

				background-image: linear-gradient(to right, transparent, #fff);

				content: "";
			}
		}

		&:nth-of-type(2),
		&:nth-of-type(5) {
			&::before,
			&::after {
				position: absolute;
				top: 0;

				width: 1px;
				height: 100%;

				content: "";
			}

			&::before {
				left: 0;
			}

			&::after {
				right: 0;
			}
		}

		&:nth-of-type(2) {
			border-bottom: 1px solid #fff;

			&::before,
			&::after {
				background-image: linear-gradient(to bottom, transparent, #fff);
			}
		}

		&:nth-of-type(5) {
			&::before,
			&::after {
				background-image: linear-gradient(to top, transparent, #fff);
			}
		}

		&:nth-of-type(3) {
			&::after {
				position: absolute;
				bottom: 0;

				width: 100%;
				height: 1px;

				background-image: linear-gradient(to left, transparent, #fff);

				content: "";
			}
		}

		&-inner{
			//padding-top: 100%;
			padding-top: 62%;
		}

		&-part{
			position: absolute;
			display: flex;
			align-items: center;
			// flex-wrap: wrap;
			flex-direction: column;
			justify-content: center;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			padding: 4rem;
			text-align: center;
			transition: ease .15s;

			&_default{

			}

			&_hidden{
				opacity: 0;
				visibility: hidden;
			}
		}

		@include min-screen($small_tablet+1) {
			&_darkpink{
				&:hover{
					background: #7F3955;
					border-color: #7F3955;
				}
			}
			&_orange{
				&:hover{
					background: #CF7C34;
					border-color: #CF7C34;
				}
			}
			&_green{
				&:hover{
					background: #9EBB4D;
					border-color: #9EBB4D;
				}
			}
			&_pink{
				&:hover{
					background: $pink;
					border-color: $pink;
				}
			}
			&_blue{
				&:hover{
					background: #33799C;
					border-color: #33799C;
				}
			}
			&_purple{
				&:hover{
					background: #9F5483;
					border-color: #9F5483;
				}
			}

			&:hover{
				.categories{
					&__item{
						&-part{
							&_default{
								opacity: 0;
								visibility: hidden;
							}

							&_hidden{
								opacity: 1;
								visibility: visible;
							}
						}
					}
				}
			}
		}


	}


	@include max-screen($large_tablet) {
		padding: 7rem 0;
		&__list{
			width: 95%;
		}
	}

	@include max-screen($small_tablet) {
		&__list{
			width: 100%;
		}

		&__mobile-link{
			display: inline-flex;
		}

		&__name{


			&_big{
				font-size: 2rem;
				line-height: 1em;
				margin-bottom: 5px;
			}
		}

		&__text{
			font-size: 1.1rem;
			line-height: 147.2%;
			&:not(:last-child){
				margin-bottom: 1.5rem;
			}
		}

		&__arrow{
			display: none;
		}

		&__close{
			display: block;
		}
		&__bg{
			display: block;
		}
		&__item{
			&-part{
				&_hidden{
					z-index: 500;
					position: fixed;
					left: 50%;
					top: 50%;
					width: calc(100vw - 4rem);
					height: calc(100vw - 4rem);
					margin-left: calc(-50vw + 2rem);
					margin-top: calc(-50vw + 2rem);
					border-radius: 50%;
					padding: 2rem;
				}
			}

			&_darkpink{
				.categories{
					&__item{
						&-part{
							&_hidden{
								background: #7F3955;
							}
						}
					}
				}
			}
			&_orange{
				.categories{
					&__item{
						&-part{
							&_hidden{
								background: #CF7C34;
							}
						}
					}
				}
			}
			&_green{
				.categories{
					&__item{
						&-part{
							&_hidden{
								background: #9EBB4D;
							}
						}
					}
				}
			}
			&_pink{
				.categories{
					&__item{
						&-part{
							&_hidden{
								background: $pink;
							}
						}
					}
				}
			}
			&_blue{
				.categories{
					&__item{
						&-part{
							&_hidden{
								background: #33799C;
							}
						}
					}
				}
			}
			&_purple{
				.categories{
					&__item{
						&-part{
							&_hidden{
								background: #9F5483;
							}
						}
					}
				}
			}

			&.is-visible{
				.categories{
					&__bg{
						opacity: 1;
						visibility: visible;
					}
					&__item{
						&-part{
							&_hidden{
								visibility: visible;
								opacity: 1;
							}
						}
					}
				}
			}
		}

	}

	@include max-screen($large_mobile) {
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;

		&__item{
			width: 50%;

			&-part{

				&_default{
					padding: 0;
				}
			}
		}
	}
}
