.contacts{
	padding-bottom: 11.4rem;
	padding-top: 6.4rem;

	&__map{
		height: 65rem;
		border-radius: 10px;
		overflow: hidden;
	}

	&__box{
		position: relative;
	}

	&__inside{
		position: absolute;
		top: 0;
		margin-top: 13.8rem;
		left: 14rem;
		right: 14rem;


	}

	&__inner{
		text-align: center;
		// padding: 2.9rem;
		width: 100%;
	}

	&__text{
		line-height: 2rem;
		font-weight: 300;

	}

	&__arrow{
		width: 7rem;
		margin: auto;
		fill: transparent;
		stroke: #000;
		margin-top: 2.2rem;
	}

	&__title{
		display: block;
		margin-bottom: 1.4rem;

		font-family: "RoadRadio", sans-serif;
		font-size: 2.5rem;
		font-weight: normal;
		text-transform: uppercase;
	}

	&__list{
		padding-top: 1.6rem;
		text-align: center;

		&-item{
			line-height: 1.7rem;
			font-weight: 300;

			&:not(:last-child){
				margin-bottom: 2rem;
			}

			&_address {
				font-weight: 500;
				font-style: normal;
				font-size: 3rem;
				line-height: 1.3;
			}

			&_working-time {
				opacity: .7;
			}

			&_phone {
				font-size: 2.5rem;
			}
		}
	}

	&__manager{
		position: relative;

		width: 15rem;
		height: 15rem;
		margin: 2rem auto 2.9rem;
		border-radius: 50%;
		overflow: hidden;

		&-image{
		}
		// display: block;
		// margin: auto;
		// margin-top: 2.6rem;
		// margin-bottom: 2.9rem;
		// width: 315/375*100%;
		// &+.contacts{
		// 	&__inner{
		// 		padding-top: 0;
		// 	}
		// }
	}

	&__circle{
		position: absolute;
		left: 0;
		top: 0;
		width: 37.5rem;
		height: 37.5rem;
		border-radius: 50%;
		overflow: hidden;
		//cursor: pointer;


		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		// flex-direction: column;
		flex-wrap: wrap;

		&_contacts{
			background: #191919;
		}

		&_recall{
			color: #000;

			background-color: #fff;
			cursor: pointer;
		}

		&_top{
			align-items: flex-start;
		}

		&_right{
			left: auto;
			right: 0;

		}
	}


	@include max-screen($large_tablet) {
		&__inside{
			left: 5rem;
			right: 5rem;
		}

		&__map{
			height: 60rem;
		}
	}

	@include max-screen($small_tablet) {
		&__inside{
			left: 1rem;
			right: 1rem;
		}
	}

	@include max-screen($large_mobile) {
		padding-bottom: 5rem;
		&__wrap{
			padding-left: 0;
			padding-right: 0;
		}
		&__map{
			border-radius: 0;
			height: 43rem;
		}
		&__circle{
			position: relative;
			&_contacts{
				width: 110vw;
				height: 110vw;
				margin-left: -5vw;
			}

			&_recall{
				margin-left: auto;
				margin-right: auto;
				margin-top: -38/320*100%;
				width: calc(100vw - 4rem);
				height: calc(100vw - 4rem);
			}
		}
		&__manager{
			width: 130/280*100%;
			height: auto;
			padding-top: 128/280*100%;
			margin-bottom: 2.2rem;

		}
		&__list{
			padding-top: 2rem;
			&-item{
				font-size: 1.1rem;
				line-height: 1.3rem;

				&:not(:last-child){
					margin-bottom: 2rem;
				}
			}
		}
		&__inside{
			margin-top: -12.6rem;
			position: relative;
			left: auto;
			top: auto;
			right: auto;
		}

		&__text{
			font-size: 1.1rem;
			line-height: 1.5rem;
		}

		&__arrow{
			margin-top: 2rem;
			width: 2.4rem;
		}

		&__title{
			font-size: 2rem;
			margin-bottom: 1rem;
		}
	}
}
