.footer{
	padding-bottom: 8.8rem;
	&__cell{
		width: 20%;

		&_center{
			text-align: center;
		}

		&_right{
			text-align: right;
		}

		&_big{
			width: 40%;
		}
	}

	&__label{
		font-family: RoadRadio;
		margin-bottom: 3.1rem;
		line-height: 1em;
	}

	&__logo{
		max-width: 100%;
		width: 27.1rem;
	}

	&__text{
		line-height: 3rem; 
		margin-bottom: .9rem;
		font-weight: 300;
	}

	&__socials{
		margin-bottom: 5rem;
	}

	&__polit{
		font-weight: 300;
		display: inline-block;
		color: $pink;
		margin-bottom: 2.7rem;
		line-height: 4.1rem;
	}

	&__creator{
		display: inline-block;
		font-weight: 300;
		
	}

	&__list{

		&-item{
			display: block;
		}

		&-link{
			display: inline-block;
			font-weight: 300;
			line-height: 3.2rem;
			position: relative;

			&:before{
				content: '';
				display: none;
				position: absolute;
				right: 0;
				height: 100%;
				top: 0;
				width: 100%;
				z-index: -1;
				background: url('../img/right_arrow.svg') right center no-repeat;
			}
		}
	}


	@include max-screen($large_mobile) {
		padding-bottom: 4rem;
		
		&__logo{
			width: 182px;
		}
		&__label{
			margin-bottom: 0;
			padding-bottom: 2rem;
			font-size: 1.4rem;
			border-bottom: 1px solid rgba(#FFFFFF,.2);
		}
		&__list{
			margin-bottom: 4rem;
			&-item{
				border-bottom: 1px solid rgba(#FFFFFF,.2);
			}
			&-link{
				display: flex;
				align-items: center;
				height: 4.5rem;
				font-size: 1.4rem;
				width: 100%;
				
				font-weight: 300;

				&:before{
					display: block;
				}

			}
		}

		&__socials{
			justify-content: center;
		}

		&__polit, &__text{
			font-size: 1.1rem;
			line-height: 1.2rem;
			margin-bottom: 3rem;
		}

		&__creator{
			font-size: 1.1rem;
			line-height: 1.2rem;
		}

		&__cell{
			width: 100%;

			&_center{
				order: -1;
				margin-bottom: 4rem;
			}

			&_right{
				text-align: center;
			}
		}
	}
}