.gallery {
	overflow: hidden;
	position: relative;
	&:before, &:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		height: 100rem;
		width: 10%;
		z-index: 2;
		background: linear-gradient(270deg, #151515 0%, rgba(21, 21, 21, 0) 100%);
	}
	&:before {
		left: 0;
		transform: rotate(180deg);
	}
	&:after {
		right: 0;
	}
	&__line {
		height: 2px;
		background: rgba(#E5E5E5, .3);
		margin-top: 8rem;
	}
	&__slider {
		width: 333rem;
		left: 50%;
		transform: translateX(-50%);
	}
	&__nav {
		transform: translateY(-11.5rem);
	}
	
	&__bottom {
		height: 0;
		&-wrap {
			display: flex;
			justify-content: flex-end;
		}
	}
	
	&__title {
		text-align: center;
	}
	
	&__head {
		margin-bottom: 10rem;
		.owl-nav {
			display: none;
		}
	}
	
	@include max-screen($large_tablet) {
		&:before, &:after {
			display: none;
		}
		&__slider {
			width: auto;
			left: auto;
			transform: translateX(0);
		}
		&__nav {
			transform: translateY(-9.5rem);
		}
	}
}

@include max-screen($large_mobile) {
	.gallery {
		&__line {
			margin-top: 2rem;
			height: 1px;
			background: rgba(#fff, .2);
		}
		&__nav {
			transform: translateY(0);
			margin-top: 0;
		}

		&__bottom {
			height: auto;
			&-wrap {
				display: block;
			}
			&.is-visible {
				margin-top: 2rem;
			}
		}
		&__head {
			margin-bottom: 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.owl-nav {
				display: flex;
				width: auto;
				max-width: none;
			}
		}
		&__title {
			max-width: 205px;
			text-align: left;
		}
		&__bottom:not(.is-visible) {
			display: none;
		}
	}
}