.geography {
	padding-top: 5rem;
	&__map {
		height: 55rem;
		margin-top: 7rem;
		overflow: hidden;
		border-radius: 5px;
	}
	&__bottom {
		padding: 4.5rem 0;
		border-bottom: 1px solid rgba(#fff, .2);
	}
	
	&__form {
		margin-top: 7rem;
	}
	&__field {
		width: 460/1336*100%;
	}
	&__button {
		width: 333/1336*100%;
		padding-left: 2rem;
		padding-right: 2rem;
	}
	@include max-screen($small_tablet) {
		padding-top: 15rem;
	}
	@include max-screen($large_mobile) {
		padding-top: 8rem;
		&__wrap {
			//padding-left: 0;
			//padding-right: 0;
		}
		&__map {
			height: 35rem;
			margin-top: 3.5rem;
		}
		&__form {
			margin-top: 0;
			padding-top: 1rem;
		}
		&__field {
			width: 100%;
			margin-top: 2rem;
		}
		&__button {
			width: 100%;
			margin-top: 4rem;
		}
	}
}