.main{
	text-align: center;
	padding-top: 15.8rem;
	padding-bottom: 10.4rem;
	position: relative;

	&__title{
		
		width: 1300/1782*100%;
		margin: auto;
		margin-bottom: 6rem;
	}


	&__button{

	}

	&__back{
		
		&_first{
			top: -47rem;

			svg{
				animation-delay: 3s;
			}
		}
		
		&_second{
			top: -26rem;
			svg{
				animation-delay: 3.4s;
			}
		}

		&_third{
			top: -13rem;
			svg{
				animation-delay: 3.2s;
			}
		}

		&_fourth{
			top: 5rem;
			svg{
				animation-delay: 4s;
			}
		}
	}

	&__list{
		margin-top: 10.8rem;
		&-item{
			margin-left: 7rem;
			margin-right: 7rem;
		}

		&-icon{
			margin: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 7.2rem;
			margin-bottom: 2.2rem;
			fill: transparent;
			stroke: #fff;

			&_home{
				width: 6.2rem;
			}
			&_key{
				width: 6.2rem;
			}
			&_doc{
				width: 5.3rem;
			}

			svg{
				max-height: 100%;
			}
		}

		&-text{
			font-family: RoadRadio;
			font-weight: 300;
		}
	}

	@include max-screen($small_desktop) {
	    padding-top: 11.8rem;
	    padding-bottom: 8.4rem;
	}

	@include max-screen($large_tablet) {
		&__title{
			width: 100%;
		}
	}

	@include max-screen($small_tablet) {
		&__list{
			justify-content: space-around;

			&-item{
				margin-left: 0;
				margin-right: 0;
				max-width: 33.33%;
			}
		}
	}

	@include max-screen($large_mobile) {
		padding-top: 6.8rem;
		padding-bottom: 2.5rem;

		&__list{
			margin-top: 5rem;
			justify-content: space-between;

			&-icon{
				height: 3.2rem;

				&_key{
					.icon{
						height: 2.6rem;
					}
					
				}
			}

			&-text{
				font-size: .9rem;
				line-height: 1rem;
			}
		}

		&__title{
			margin-bottom: 5rem;
		}
	}
}