.main{
	text-align: center;
	padding-top: 15.8rem;
	padding-bottom: 10.4rem;
	position: relative;

	&__title{
		
		width: 1300/1782*100%;
		margin: auto;
		margin-bottom: 6rem;
	}


	&__button{

	}

	&__parent{
		
		transition-delay: .2s!important;
	}

	&__back{
		
		&_first{
			top: -47rem;

			svg{
				animation-delay: 3s;
			}
		}
		
		&_second{
			top: -26rem;
			svg{
				animation-delay: 3.4s;
			}
		}

		&_third{
			top: -13rem;
			svg{
				animation-delay: 3.2s;
			}
		}

		&_fourth{
			top: 5rem;
			svg{
				animation-delay: 4s;
			}
		}
	}

	@include max-screen($small_desktop) {
	    padding-top: 11.8rem;
	    padding-bottom: 8.4rem;
	}

	@include max-screen($large_tablet) {
		&__title{
			width: 100%;
		}
	}


	@include max-screen($large_mobile) {
		padding-top: 6.8rem;
		padding-bottom: 2.5rem;


		&__title{
			margin-bottom: 5rem;
		}
	}
}