.panel{
	position: fixed;
	z-index: 700;
	left: 0;
	top: 0;
	width: 100%;
	height: calc(100% + 10rem);
	padding-bottom: 10rem;
	overflow-y: auto;
	background: #151515;
	transition: ease .3s;
	// visibility: hidden;
	// opacity: 0;

	display: none;

	&.is-active{
		display: block;
		// opacity: 1;
		// visibility: visible;
	}

	&__close{
		right: 0;
		top: 0;
		margin-right: 2.8rem;
		margin-top: 4.3rem;
		position: absolute;
		z-index: 500;
	}

	&__cell{
		width: 50%;
	}

	&__title{
		padding-bottom: 3rem;
		// margin-bottom: 2rem;
		padding-right: 6rem;
		border-bottom: 1px solid #FFFFFF;
	}

	&__inner{
		padding-top: 4rem;
		padding-bottom: 10.5rem;
		position: relative;
	}

	&__button{
		padding-left: 0;
		padding-right: 0;
		height: 4.5rem;
		width: 100%;
	}

	&__bottom{
		position: fixed;
		left: 0;
		width: 100%;
		bottom: 0;
		z-index: 50;
		padding-bottom: 2.9rem;
		padding-top: 2.5rem;
		background: #151515;
	}

	&__nav{
		&-cell{
			width: 100%;

			&:not(:last-child){
				border-bottom: 1px solid rgba(#FFFFFF, .3);
			}
		}
	}

	// @include max-screen($large_mobile) {
	// 	display: block;
	// }
}