.partners{
	padding-top: 40.1rem;
	// padding-top: 21.1rem;
	mix-blend-mode: lighten;
	position: relative;
	overflow: hidden;


	&:before{
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 500;
		background: linear-gradient(to bottom, transparent, #000);
	}


	&_without{
		mix-blend-mode: normal;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		// width: 200px;

		text-align: center;

		&:before{
			display: none;
		}
	}


	&__title{
		margin-top: 25rem;
		text-align: center;
	}

	&__list{
		// position: relative;
		// width: 1721/1920*100%;
		width: 100%;
		margin: auto;
		animation: circleRotation 100s linear infinite;
		// padding-top: 1721/1920*100%;
		padding-top: 100%;
		// transform-origin: 50% 100%; 
		border-radius: 50%;

	}

	&__item{
		position: absolute;
		left: 0;
		top: 0;
		animation: circleRotationItem 100s linear infinite;
		
		display: flex;
		align-items: center;
		max-width: 25rem;
		min-width: 20rem;

		&-image{
			max-height: 4.5rem;
			display: block;
		}


	}


	&__circle{
		width: 100%;
		margin: auto;
		position: absolute;
		left: 0%;
		top: 0;
		height: inherit;
		overflow: hidden;

		&:before{
			content: '';
			display: block;
			// position: absolute;
			// left: 0%;
			// top: 0;
			border-radius: 50%;
			width: 100%;
			padding-top: 100%;
			border: 2px solid #fff;
		}
	}

	&__box{
		width: 1721/1920*100%;
		margin: auto;		
		// transform: rotate(3deg);
		position: relative;
		// height: 35.3rem;
		height: 50rem;
		// overflow: hidden;


	}

	@include max-screen($small_desktop) {
		padding-top: 30rem;
	}
	
	@include max-screen($large_tablet) {
		padding-top: 22rem;

		&__box{
			width: 100%;
			height: 24rem;
		}

		&__title{
			margin-top: 14rem;
		}
	}

	@include max-screen($large_mobile) {
		padding-top: 15rem;

		&_without{
			padding-top: 6.5rem;
			position: static;
		}

		&__circle{
			margin-top: -5%;
			&:before{
				width: 200%;
				padding-top: 200%;
				margin-left: -50%;
				margin-top: 0%;		
			}
		}

		&__box{
			height: 5rem;
		}

		&__item{
		    max-width: 12rem;
		    min-width: 10rem;

		    &-image{
		    	max-height: 3.5rem;
		    }
		}

		&__title{
			margin-top: 0;
			width: 60%;
			margin: auto;
		}

		&__list{
			// width: 300%;
			// padding-top: 300%;
			// margin-left: -100%;
			// margin-top: 0;

			width: 250%;
			padding-top: 250%;
			margin-left: -75%;
			margin-top: 3%;
		}
		// display: none;
	}
}