.profitable-work {
	&__wrap {
		max-width: 1200px;
	}

	&__title {
		margin-bottom: 4rem;

		text-align: center;
	}

	&__subtitle {
		font-size: 2.5rem;
		padding: 0 2rem;
		font-weight: 400;

		span {
			font-weight: 700;
		}
	}

	&__wrap-bottom {
		padding-bottom: 15.625rem;

		&::before,
		&::after {
			width: 10.5rem;
			height: 1px;

			background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), transparent);

			content: "";
		}

		&::before {
			transform: rotate(180deg);
		}
	}

	&__part {
		&_left {
			width: 74.89474%;
		}

		&_right {
			display: flex;
			flex-grow: 1;
			margin-right: -7%;
			padding-left: 3rem;
		}
	}

	&__cell {
		display: flex;
		margin-bottom: 7.9rem;

		&:nth-child(odd){
			width: 43.31485%;
		}

		&:nth-of-type(even) {
			width: 50.62643%;
			margin-left: 5.24242%;
		}
	}

	&__preview {
		margin-bottom: 5rem;
		margin-right: 4rem;

		svg {
			fill: none;
			stroke: #fff
		}

		&_window {
			width: 4.9rem;

		}

		&_no-commission {
			width: 5.4rem;
		}

		&_honesty {
			width: 5.6rem;
		}

		&_mortgage {
			width: 8rem;
		}

		&_loupe{
			margin-left: -1.5rem;
			width: 6.2rem;

		}

		&_decoration{
			width: 4.5rem;
		}

		&_doc{
			width: 4rem;
		}

		&_docs{
			width: 4.8rem;
		}
	}

	&__cell-title {
		display: block;
		margin-bottom: 2rem;

		font-family: 'RoadRadio', sans-serif;
		font-size: 2.5rem;
		line-height: 1;
		text-transform: uppercase;
	}

	&__circle {
		&_second {
			transform: rotate3d(0, 1, 1, -240deg);
		}

		&_third {
			transform: rotate3d(0, -1, -1, -240deg);
		}
	}

	@include max-screen($small_tablet) {
		&__title {
			margin-bottom: 4.4rem;
		}

		&__part {
			&_left {
				width: 100%;
				margin: 2rem 0;
				justify-content: center;
			}

			&_right {
				margin-right: 0;
				padding-left: 1.5rem;
				padding-right: 1.5rem;
			}
		}

		&__cell {
			display: flex;
			flex-direction: column;
			align-items: center;
			// width: 100%;
			margin-bottom: 3.9rem;

			text-align: center;

			&:nth-child(odd){
				width: 200 / 613 * 100%;
			}

			&:nth-of-type(even) {
				width: 200 / 513 * 100%;
				margin-left: (55 / 660 * 100%);
			}

			&-title {
				margin-bottom: 1rem;
				line-height: 1.7rem;
				font-weight: 400;

				font-size: 1.5rem;
			}
		}

		&__preview {
			margin-bottom: 2rem;

			&_window {
				width: 3.9rem;
			}

			&_no-commission {
				width: 4.2rem;
			}

			&_honesty {
				width: 4.3rem;
			}

			&_mortgage {
				width: 5.6rem;
			}
		}



		&__button {
			&.orbit-button {
				width: 360px;
			}
		}
	}

	@include max-screen($large_mobile) {
		&__button {
			&.orbit-button {
				width: 215px;
			}
		}		
		&__part {
			&_left {
				margin: 0;
			}
		}
		&__cell {
			width: 100%!important;
			margin-left: 0!important;
		}
	}
}
