.slider {
	&__slide {
		padding: 0 1.5rem;
		width: 133.5rem;
	}
	&__row {
		padding-top: 5rem;
		flex-wrap: nowrap;
		transition: ease .5s;
		transform: translateY(-30px);
		opacity: 0;
	}
	&__content {
		min-height: 12rem;
		max-width: 80rem;
		h4 {
			&:not(:last-child) {
				margin-bottom: 2rem;
			}
		}
		p {
			color: rgba(#fff, .5);
		}
	}
	
	&__preview {
		position: relative;
		padding-top: 626/1112*100%;
		overflow: hidden;
	}
}

.owl-item.center {
	.slider {
		&__row {
			transform: translateY(0);
			opacity: 1;
		}
	}
}

@include max-screen($large_tablet) {
	.slider {
		&__slide {
			padding: 0 7rem;
			width: auto;
		}
		&__content {
			min-height: inherit;
		}
		&__row {
			transform: translateY(0);
			opacity: 1;
		}
	}
}

@include max-screen($small_tablet) {
	.slider {
		&__slide {
			padding: 0 2rem;
			width: auto;
		}
	}
}

@include max-screen($large_mobile) {
	.slider {
		&__content {
			width: 100%;
		}
		&__row {
			flex-wrap: wrap;
			padding-top: 3rem;
		}
		&__nav {
			display: none;
		}
	}
}